.header {
  text-align: end;
  padding: 2px;
  font-style: italic;
  span {
    margin: 4px;
  }
}
.content {
  padding: 2px 8px;
  display: flex;
  align-items: center;
  span {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
