<ion-card (click)="openInvitationPopup()">
  <ion-card-header class="header" [color]="campaign.campaign.type">

    <span>
      {{
      (playerId$ | async) === challenge.proposerId
      ? ("challenges.sent" | translate: {nickname: challenge.otherAttendeeData.nickname})
      : ("challenges.received" | translate: {nickname: challenge.otherAttendeeData.nickname})
      }}
    </span>
  </ion-card-header>
  <ion-card-content class="content">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar class="avatar">
            <img [src]=" challenge.otherAttendeeData.avatar.url"
              title="{{ 'registration.avatar.title' | translate }}" />
          </ion-avatar>
          <app-icon [name]="(playerId$ | async) === challenge.proposerId?'invite':'invitation'"
            class="icon-size-medium"></app-icon>
        </ion-col>
        <ion-col class="flex-center"><span>{{ challenge.challDesc | languageMap }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>