<ion-card (click)="openInvitationPopup()">
  <ion-card-header class="header" [color]="campaign.campaign.type">
    <span>
      {{
        (playerId$ | async) === challenge.proposerId
          ? ("challenges.sent" | translate)
          : ("challenges.received" | translate)
      }}
    </span>
  </ion-card-header>
  <ion-card-content class="content">
    <app-icon name="invitation" class="icon-size-big"></app-icon
    ><span>{{ challenge.challDesc | languageMap }}</span>
  </ion-card-content>
</ion-card>
