<ion-searchbar color="light" class="ion-no-padding" [(ngModel)]="searchData" mode="ios" placeholder="nome utente">
</ion-searchbar>
<ion-item *ngFor="let user of availableChallengeables | filterData : ['nickname'] : searchData" class="user"
  [class.selected]="user.id === selectedChallengeableId" (click)="selectChallengeable(user)">
  <ion-avatar>
    <img [src]="user.avatarUrl" />
  </ion-avatar>
  <ion-label>
    {{ user.nickname }}
  </ion-label>
  <ion-icon color="success" name="checkmark" *ngIf="user.id === selectedChallengeableId"></ion-icon>
</ion-item>