<ion-card>
  <ion-card-header color="personal" *ngIf="header">
    <ion-item lines="none" color="personal">
      <ion-avatar>
        <img [src]="imagePath" alt="Avatar" />
      </ion-avatar>
      <strong> {{ campaignContainer.campaign.name }}</strong>
    </ion-item>
  </ion-card-header>
  <!-- <ion-card-content *ngIf="status && reportWeekStat"> -->
  <ion-card-content color="personal-tint">
    <app-main-campaign-stat
      [campaignContainer]="campaignContainer"
      [reportWeekStat]="reportWeekStat"
      [reportTotalStat]="reportTotalStat"
      [what]="'CO2'"
    >
    </app-main-campaign-stat>
  </ion-card-content>
</ion-card>
