<ion-content>
  <div *ngIf="(campaignId$ |async) as campaignId">
    <ion-item>
      <ion-label>Value</ion-label>
      <ion-select
        (ionChange)="leaderboardTypeChangedSubject.next($any($event))"
      >
        <ion-select-option
          *ngFor="let leaderboardType of leaderboardTypes$|async"
          [value]="leaderboardType.value"
        >
          {{leaderboardType.labelKey |translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item
      *ngIf="(selectedLeaderboardTypes$ |async) as selectedLeaderboardTypes"
    >
      {{selectedLeaderboardTypes.labelKey | translate}}
    </ion-item>
  </div>
</ion-content>
