<ion-content>
  <ng-container *ngIf="(campaignId$ |async) as campaignId">
    <ion-item>
      <ion-label>Value</ion-label>
      <ion-select
        (ionChange)="leaderboardTypeChangedSubject.next($any($event))"
        [value]="selectedLeaderboardType$ | async"
      >
        <ion-select-option
          *ngFor="let leaderboardType of leaderboardTypes$|async"
          [value]="leaderboardType"
        >
          {{leaderboardType.labelKey |translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Period</ion-label>
      <ion-select
        (ionChange)="periodChangedSubject.next($any($event))"
        [value]="selectedPeriod$ | async"
      >
        <ion-select-option *ngFor="let period of periods" [value]="period">
          {{period.labelKey |translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    Player Position:
    <ion-item *ngIf="(playerPosition$ |async) as playerPosition">
      <ion-label>Player Position</ion-label>
      {{playerPosition | json}}
    </ion-item>

    <ng-container *ngIf="(filterOptions$ |async) as filterOptions">
      <app-infinite-scroll
        [resetItems]="resetItems$ | async"
        [response]="leaderboardScrollResponse$ | async"
        (request)="scrollRequestSubject.next($event)"
      >
        <ng-template appInfiniteScrollContent let-placing="item">
          <div style="height: 200px; overflow: hidden; border: 3px solid red">
            <div>{{placing.nickname}}</div>
            <div>{{placing.position}}</div>
            <div>
              {{placing.value | number}}
              {{filterOptions.leaderboardType.labelKey | translate}}
            </div>
          </div>
        </ng-template>
      </app-infinite-scroll>
    </ng-container>
  </ng-container>
</ion-content>
