<ion-content>
  <div *ngIf="(campaignId$ |async) as campaignId">
    <ion-item>
      <ion-label>Value</ion-label>
      <ion-select
        (ionChange)="leaderboardTypeChangedSubject.next($any($event))"
        [value]="selectedLeaderboardType$ | async"
      >
        <ion-select-option
          *ngFor="let leaderboardType of leaderboardTypes$|async"
          [value]="leaderboardType"
        >
          {{leaderboardType.labelKey |translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Period</ion-label>
      <ion-select
        (ionChange)="periodChangedSubject.next($any($event))"
        [value]="selectedPeriod$ | async"
      >
        <ion-select-option *ngFor="let period of periods" [value]="period">
          {{period.labelKey |translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    Player Position:
    <ion-item *ngIf="(playerPosition$ |async) as playerPosition">
      <ion-label>Player Position</ion-label>
      {{playerPosition | json}}
    </ion-item>
  </div>
</ion-content>
