<app-header
  [backButton]="true"
  [color]="'playgo'"
  [title]="'notifications_title'|translate"
  [showNotifications]="false"
></app-header>
<ion-content color="playgo" fullscreen="true">
  <ng-container *ngFor="let notification of notifications">
    <!-- <ion-item-divider color="playgo" sticky class="ion-padding">
      <ion-label> {{ notification.timestamp| localDate: "MMMM y" }} </ion-label>
    </ion-item-divider> -->
    <app-notification-detail
      [notification]="notification"
    ></app-notification-detail>
  </ng-container>
</ion-content>
