<ion-header appHeader></ion-header>
<ion-content appContent [fullscreen]="true">
  <div class="user-intro">
    <ion-avatar>
      <img [src]="(userAvatar$ | async)?.avatarUrl" />
    </ion-avatar>
    <!-- <div class="nickname">{{userNickname$|async}}</div> -->
  </div>
  <app-transport-stat [playerId]="(teamId$|async)"></app-transport-stat>
  <!-- <ng-container *ngFor="let campaign of (campaigns$|async)">
    <app-campaign-stat [playerId]="(teamId$|async)" [campaign]="campaign"></app-campaign-stat>
  </ng-container> -->
</ion-content>