<ion-header appHeader></ion-header>
<ion-content appContent>
  <ng-container *ngIf="(campaign$ |async) !== null">
    <div class="header-margin">
      <div
        class="header-sticky"
        [style.color]="'var(--ion-color-'+campaignContainer.campaign.type+'-stat-contrast)'"
        [style.backgroundColor]="'var(--ion-color-'+campaignContainer.campaign.type+')'"
      >
        <ion-row>
          <ion-col>
            <ion-item
              [color]="campaignContainer?.campaign?.type"
              class="header-radius"
            >
              <ion-select
                [interfaceOptions]="{ cssClass: 'app-alert' }"
                (ionChange)="leaderboardTypeChangedSubject.next($any($event))"
                [value]="selectedLeaderboardType$ | async"
              >
                <ion-select-option
                  *ngFor="let leaderboardType of leaderboardTypes$|async"
                  [value]="leaderboardType"
                >
                  {{leaderboardType.labelKey |translate}}
                  <span *ngIf="leaderboardType?.unitLabelKey"
                    >[{{ leaderboardType.unitLabelKey | translate }}]</span
                  >
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item [color]="campaignContainer?.campaign?.type">
              <ion-select
                [interfaceOptions]="{ cssClass: 'app-alert' }"
                (ionChange)="periodChangedSubject.next($any($event))"
                [value]="selectedPeriod$ | async"
              >
                <ion-select-option
                  *ngFor="let period of periods"
                  [value]="period"
                >
                  {{period.labelKey |translate}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <app-placing-detail
          [placing]="playerPosition$ | async"
          [unitLabelKey]="numberWithUnitKey$ | async"
          [first]="true"
          [campaign]="campaignContainer"
        ></app-placing-detail>
      </div>
      <ng-container *ngIf="(filterOptions$ |async) as filterOptions">
        <app-infinite-scroll
          [resetItems]="resetItems$ | async"
          [response]="leaderboardScrollResponse$ | async"
          (request)="scrollRequestSubject.next($event)"
        >
          <ng-template appInfiniteScrollContent let-placing="item">
            <app-placing-detail
              [placing]="placing"
              [unitLabelKey]="numberWithUnitKey$ | async"
              [first]="false"
              [campaign]="campaignContainer"
            ></app-placing-detail>
          </ng-template>
        </app-infinite-scroll>
      </ng-container>
    </div>
  </ng-container>
</ion-content>
