<div class="tracking-container ion-text-center">
  <div *ngIf="tripService.isInTrip$ | async; else chooseMean">
    <div
      *ngIf="backgroundTrackingService.lowAccuracy$ | async"
      style="color: orange"
    >
      Low accuracy!

      <!-- <div>backgroundTrackingService.accuracy$</div>
      <div>{{ backgroundTrackingService.accuracy$ | async }}</div> -->
    </div>
    <!-- <div>backgroundTrackingService.isPowerSaveMode$</div>
    <div>{{ backgroundTrackingService.isPowerSaveMode$ | async | json }}</div> -->
    <ion-icon [name]="tripService.activeTransportType$ | async"></ion-icon>
    <app-tracking-stopwatch></app-tracking-stopwatch>
  </div>
  <ng-template #chooseMean>
    {{ "tracking.choose_means" | translate }}
  </ng-template>
</div>
<app-tracking-buttons size="default"> </app-tracking-buttons>
