.tracking-container {
  background-color: var(--ion-color-playgo);
  height: 10vh;
  line-height: 10vh;
  ion-icon {
    font-size: 5vh;
  }
}
.map-wrapper {
  position: absolute;
  top: 15em;
  bottom: 9em;
  left: 0;
  right: 0;
}
