.tracking-container {
  background-color: var(--ion-color-playgo);
  height: 10vh;
  line-height: 10vh;
  &.tracking-ui-active {
    height: 70vh;
  }
  ion-icon {
    font-size: 5vh;
  }
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 60vh;
}
