.relative-container {
  position: relative;
}
.tracking-container {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;

  height: 0vh;
  &.show-tracking-info {
    height: 10vh;
  }
  &.tracking-ui-active {
    height: 200vh;
  }

  display: flex;
  flex-direction: column-reverse;

  ion-icon {
    font-size: 5vh;
  }

  .choose-mean-string {
    line-height: 10vh;
    font-size: 22px;
    text-align: left;
    margin-left: 8px;
    font-size: 15px;
    width: 80%;
  }
}
.current-tracking-info {
  background-color: var(--ion-color-playgo);
  color: var(--ion-color-playgo-contrast);
}

.low-accuracy-container {
  height: 13vh;
  .low-accuracy {
    color: orange;
    font-size: 21px;
  }
}

.slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  animation-name: showMap;
  animation-duration: 0.5s;
  transform: translateY(0px);
  background: rgba(0, 0, 0, 0.08);
  .map-wrapper {
    position: absolute;
    bottom: 0;
    border-top: 3px solid var(--ion-color-playgo);
    height: 60vh;
    width: 100%;
  }
}

@keyframes showMap {
  from {
    transform: translateY(70vh);
    background: rgba(0, 0, 0, 0);
  }
  to {
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.08);
  }
}
