<div class="container">
  <div class="single-stat-container" *ngIf="stat.completed">
    <div class="single-stat-content">
      <div class="ion-text-center">
        <app-icon
          class="icon-size-big"
          [name]="imgChallenge(stat.type)"
        ></app-icon>
      </div>
      <div class="ion-text-center">
        <div>{{ typeChallenge }}</div>
        <div class="challenge-won">
          {{ "challenges.stats.singleChallengeWin" | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="single-stat-container" *ngIf="stat.failed">
    <div class="single-stat-content">
      <div class="ion-text-center">
        <app-icon
          class="icon-size-big"
          [name]="imgChallenge(stat.type)"
        ></app-icon>
      </div>
      <div class="ion-text-center">
        <div>{{ typeChallenge }}</div>
        <div class="challenge-lost">
          {{ "challenges.stats.singleChallengeLost" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
