<ion-header>
  <ion-toolbar color="playgo">
    <ion-title>{{ "appFooter.credits" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="playgo">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-text-center ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <img class="pgicon" src="../assets/images/home/logo.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-margin-top">
      <ion-col *ngIf="(appStatusService.appInfo$ | async)">
        <div *ngIf="(appStatusService.appInfo$ | async)?.name"><span>{{ (appStatusService.appInfo$ | async)?.name
            }}</span></div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <div *ngIf="(appStatusService.appInfo$ | async)?.version"><span class="first-row-text">{{
            'appCredits.version'|translate :{ version:
            (appStatusService.appInfo$ | async)?.version }
            }}</span></div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center ion-margin-top">
      <ion-col>
        <div><span>{{ 'appCredits.by' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center  ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <img class="fbkicon" src="../../../assets/images/login/fbk.svg" (click)="openLink('http://www.fbk.eu')" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center  ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <img class="dslabicon" src="../../../assets/icon/dslab.svg"
          (click)="openLink('https://www.smartcommunitylab.it/')" />
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-text-center">
      <ion-col>
        <div><span>{{ 'appCredits.dslab' | translate }}</span>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>