.playgo {
  ion-icon {
    background-color: #fff;
    border-radius: 8px;
    padding: 4px;
  }
}
.dslabicon {
  background-color: #fff;
  border-radius: 8px;
  padding: 4px;
  margin-top: 16px;
}
.first-row-text {
  font-style: italic;
  font-size: 12px;
}

.fbkicon {
  margin-top: 16px;
}
