<ion-header>
  <ion-toolbar color="playgo">
    <ion-title>{{ "appFooter.credits" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="playgo">
  <ion-grid>
    <ion-row class="ion-text-center ion-margin-top">
      <ion-col>
        <div><span>{{ 'appCredits.by' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center  ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <img class="fbkicon" src="../../../assets/images/login/fbk.svg" (click)="openLink('http://www.fbk.eu')" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center  ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <img class="dslabicon" src="../../../assets/icon/dslab.svg"
          (click)="openLink('https://www.smartcommunitylab.it/')" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center  ion-margin-top">
      <ion-col size="6" class="ion-text-center">
        <img class="modisicon" src="../../../assets/icon/modis.svg" (click)="openLink('https://modis.fbk.eu/')" />
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <img class="pmgicon" src="../../../assets/icon/pmg.svg" (click)="openLink('https://pmg.fbk.eu/')" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <div><span>{{ 'appCredits.modis' | translate }}</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div><span>{{ 'appCredits.pmg' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-text-center">
      <ion-col>
        <div><span>{{ 'appCredits.pmg' | translate }}</span>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>