.playgo {
  ion-icon {
    background-color: #fff;
    border-radius: 8px;
    padding: 4px;
  }
}
.dslabicon {
  border-radius: 8px;
  padding: 4px;
  margin-top: 16px;
  max-width: 50%;
}
.pgicon {
  border-radius: 8px;
  padding: 4px;
  margin-top: 16px;
  max-width: 50%;
  background-color: white;
}
.first-row-text {
  font-style: italic;
  font-size: 12px;
}

.fbkicon {
  margin-top: 16px;
}
