.playgo {
  ion-icon {
    background-color: #fff;
    border-radius: 8px;
    padding: 4px;
  }
}
.dslabicon {
  border-radius: 8px;
  padding: 4px;
}
.pgicon {
  border-radius: 8px;
  padding: 4px;
  margin-top: 16px;
  max-width: 50%;
  background-color: white;
}
.modisicon {
  border-radius: 8px;
  width: 63%;
}
.pmgicon {
  border-radius: 8px;
}
.first-row-text {
  font-style: italic;
  font-size: 12px;
}

.fbkicon {
  margin-top: 16px;
  width: 50%;
}
.icons {
  margin-top: 40px;
  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img {
      margin: auto;
    }
  }
}
