playgo-mobile/src/environments/environment.ts
playgo-mobile/ios/App/App/GoogleService-Info.plist
playgo-mobile/android/app/google-services.json
playgo-mobile/android/.idea/deploymentTargetDropDown.xml
playgo-mobile/src/assets/git-version.json
playgo-mobile/android/app/src/main/assets/capacitor.config.json
playgo-mobile/ios/App/App/capacitor.config.json
