<div *ngIf="myCampaigns !== undefined && myCampaigns.length > 0">
  <ion-list>
    <ion-grid>
      <ion-row *ngFor="let campaign of myCampaigns">
        <ion-col size-md="6" offset-md="3" *ngIf="campaign">
          <app-my-campaign-card [containerCampaign]="campaign">
          </app-my-campaign-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <!-- <div *ngIf="contentPagable && !contentPagable.last">
    <ion-infinite-scroll threshold="15%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div> -->
</div>

<div *ngIf="myCampaigns === undefined || myCampaigns.length === 0">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <strong>{{ "noCampaigns" | translate }}</strong>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
