<div *ngIf="profile">
  <div *ngIf="!editable; then homeProfile; else editingProfile"></div>
  <ng-template #homeProfile>
    <div (click)="goToProfile()">
      <ion-icon class="home-cog" name="cog" color="playgo"></ion-icon>
      <ion-item lines="none">
        <ion-avatar slot="start" class="avatar">
          <img [src]="profile.avatar.avatarUrl" title="{{ 'registration.avatar.title' | translate }}" />
        </ion-avatar>
        <ion-label>
          <div class="ion-text-center">
            <span class="nickname">{{ profile.nickname }}</span>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ng-template>

  <ng-template #editingProfile>
    <ion-item lines="none">
      <div class="avatar-container">
        <ion-avatar class="avatar">
          <img [src]="profile.avatar.avatarUrl" title="{{ 'registration.avatar.title' | translate }}" />
        </ion-avatar>
        <ion-icon class="avatar-cange" name="camera-outline" (click)="changeAvatar()"></ion-icon>
      </div>
      <ion-label lines="none" *ngIf="profile?.mail">
        <div class="ion-text-center">
          <b>{{ profile.nickname }}</b>
        </div>
        <div>
          {{ "profile.mail" | translate }}<b>{{ profile.mail }}</b>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none" *ngIf="activeFrom">
      <ion-label>
        <div>
          {{ "profile.activeFrom" | translate
          }}<b>{{ activeFrom | localDate: "shortDate" }}</b>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none" *ngIf="territory?.name">
      <ion-label>
        <div>
          {{ "profile.territory" | translate
          }}<b>{{ territory.name | languageMap }}</b>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          {{ "profile.status.myCampaigns" | translate
          }}<b>{{ numMyCampaigns }}</b>
        </div>
      </ion-label>
    </ion-item>
  </ng-template>
</div>