.avatar {
  background-color: white;
  margin: auto;
  height: 61px;
  width: 61px;
}
.avatar-container {
  margin: 33px;
  position: relative;
}
.avatar-cange {
  background-color: var(--ion-color-playgo);
  color: white;
  border-radius: 16px;
  padding: 8px;
  position: absolute;
  bottom: -10%;
  left: 80%;
}
.nickname {
  font-size: 18px;
  font-weight: bold;
}
.home-cog {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 40px;
  z-index: 99;
}
