<ion-card>
  <ion-card-content>
    <ion-item *ngIf="profile">
      <ion-avatar slot="start">
        <img [src]="profile.avatar.avatarData" title=" avatar" />
      </ion-avatar>
      <ion-label>
        <h3>{{ profile.nickname }}</h3>
        <p>{{ profile.mail }}</p>
      </ion-label>
      <ion-button expand="block" (click)="openModal()" *ngIf="editable">{{
        "profile.changeButton" | translate
        }}</ion-button>
    </ion-item>
    <ion-item *ngIf="showStatus && status">
      <ion-label>
        <p>{{
          "profile.status.travels" | translate :{totalTravels: status.travels}
          }}</p>
        <p>{{
          "profile.status.activityDays" | translate: {activityDays: status.activityDays }
          }}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>