<ion-header appHeader></ion-header>
<ion-content appContent>
  <ng-container *ngIf="tripDetail">
    <app-trip-detail-map *ngIf="showMap" [tripParts]="[tripDetail]"></app-trip-detail-map>
    <ion-grid *ngIf="!showMap">
      <ion-row>
        <ion-col>
          <div class="no-map">
            <strong> {{ "trip_detail.no_track" | translate }}</strong>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="absolute-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <app-icon class="big-icon" [name]="getTransportTypeIcon(tripDetail.modeType)"></app-icon>
          </ion-col>
          <ion-col size="9">
            <ion-row class="mean-label">{{ getTransportTypeLabel(tripDetail.modeType) | translate
              }}</ion-row>
            <ion-row class="mean-date">{{ tripDetail.startTime | localDate: { year:'numeric', month:
              'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }
              }}</ion-row>
            <ion-row class="mean-hour">
              <span *ngIf="tripDetail.distance; else noDistance">{{tripDetail.distance / 1000 | localNumber: '0.0-1' }}
                {{ 'km' |
                translate }} {{ this.durationLabel }}</span>
              <ng-template #noDistance>
                <span> - {{ 'km' | translate }} / - min </span>
              </ng-template>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="campaigns.length === 0">
          <span class="no-score">
            {{ 'trip_detail.no_score' | translate }}
          </span>
        </ion-row>
        <ion-row *ngFor="let campaign of campaigns" class="campaigns-validation">
          <ng-container *ngIf="campaign.valid">
            <ion-col size="3" class="ion-text-right">
              <ng-container *ngIf="campaign.type === 'personal' ">
                {{campaign.distance / 1000 | localNumber: '0.0-1' }} {{ 'km' |
                translate }}
              </ng-container>
              <ng-container *ngIf="campaign.type === 'company'">
                <app-icon [color]="campaignService.getCampaignColor(campaign)"
                  [name]="campaignService.getCampaignScoreIcon(campaign)"></app-icon>
                <ion-text>{{campaign.virtualScore | localNumber: '0.0-1' }}</ion-text>
                <!-- {{campaign.virtualScore | localNumber: '0.0-1' }} {{ getLabelObs(campaign)|async }} -->
              </ng-container>
              <ng-container *ngIf="campaign.type === 'school' || campaign.type === 'city'">
                <app-icon [color]="campaignService.getCampaignColor(campaign)"
                  [name]="campaignService.getCampaignScoreIcon(campaign)"></app-icon>
                <ion-text>{{campaign.score | localNumber: '0.0-1' }}</ion-text>
              </ng-container>
            </ion-col>
            <ion-col size="auto">
              <ion-text>{{ 'trip_detail.gl_for' | translate }}
              </ion-text>
            </ion-col>
            <ion-col class="ellipsis">
              <ion-text [color]="campaignService.getCampaignColor(campaign)">
                <a class="inherit-color" [routerLink]="'/pages/tabs/trips/campaign-detail/' + campaign.campaignId"
                  routerDirection="forward">{{campaign.campaignName | languageMap }}</a>
              </ion-text>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
</ion-content>