<app-header
  title="{{'tripDetailTitle' | translate}} "
  [defaultHref]="'/pages/tabs/trips'"
></app-header>

<ion-content>
  <ng-container *ngIf="tripDetail">
    <app-trip-detail-map
      *ngIf="showMap"
      [tripParts]="[tripDetail]"
    ></app-trip-detail-map>
    <ion-card class="absolute-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <app-icon
              class="big-icon"
              [name]="transportTypeIcons[tripDetail.modeType]"
            ></app-icon>
          </ion-col>
          <ion-col size="9">
            <ion-row
              >{{ transportTypeLabels[tripDetail.modeType] | translate
              }}</ion-row
            >
            <ion-row>{{tripDetail.startTime | date:"medium" }}</ion-row>
            <ion-row>
              {{tripDetail.distance / 1000 | number: '0.0-1' }} {{ 'km' |
              translate }} {{ this.durationLabel }}
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let campaign of campaigns">
          <ng-container *ngIf="campaign.valid">
            <ng-container
              *ngIf="campaign.type === 'personal' || campaign.type === 'company'"
            >
              {{campaign.distance / 1000 | number: '0.0-1' }} {{ 'km' |
              translate }} {{ 'trip_detail.gl_for' | translate }}
            </ng-container>
            <ng-container
              *ngIf="campaign.type === 'school' || campaign.type === 'city'"
            >
              <ion-text [color]="campaignService.getCampaignColor(campaign)">
                <ion-icon
                  [name]="campaignService.getCampaignIcon(campaign)"
                ></ion-icon>
              </ion-text>
              <ion-text>
                {{campaign.score}} {{ 'trip_detail.gl_for' | translate }}
              </ion-text>
            </ng-container>
            <ion-text [color]="campaignService.getCampaignColor(campaign)">
              <span>&nbsp;</span>
              <a
                class="inherit-color"
                [routerLink]="'/pages/tabs/campaigns/details/' + campaign.campaignId"
                >{{campaign.campaignName}}</a
              >
            </ion-text>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!tripDetail">no_trip</ng-container>
</ion-content>
