<app-header
  title="{{'tripDetailTitle' | translate}} "
  [defaultHref]="'/pages/tabs/trips'"
></app-header>

<ion-content>
  <ng-container *ngIf="tripDetail">
    <app-trip-detail-map
      *ngIf="showMap"
      [tripParts]="[tripDetail]"
    ></app-trip-detail-map>
    <ion-card class="absolute-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <app-icon
              class="big-icon"
              [name]="transportTypeIcons[tripDetail.modeType]"
            ></app-icon>
          </ion-col>
          <ion-col size="9">
            <ion-row
              >{{ transportTypeLabels[tripDetail.modeType] | translate
              }}</ion-row
            >
            <ion-row
              >{{ tripDetail.startTime | localDate: { year:'numeric', month:
              'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }
              }}</ion-row
            >
            <ion-row>
              {{tripDetail.distance / 1000 | localNumber: '0.0-1' }} {{ 'km' |
              translate }} {{ this.durationLabel }}
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row
          *ngFor="let campaign of campaigns"
          class="campaigns-validation"
        >
          <ng-container *ngIf="campaign.valid">
            <ion-col size="3" class="ion-text-right">
              <ng-container
                *ngIf="campaign.type === 'personal' || campaign.type === 'company'"
              >
                {{campaign.distance / 1000 | localNumber: '0.0-1' }} {{ 'km' |
                translate }}
              </ng-container>
              <ng-container
                *ngIf="campaign.type === 'school' || campaign.type === 'city'"
              >
                <app-icon
                  [color]="campaignService.getCampaignColor(campaign)"
                  [name]="campaignService.getCampaignScoreIcon(campaign)"
                ></app-icon>
                <ion-text>{{campaign.score}}</ion-text>
              </ng-container>
            </ion-col>
            <ion-col size="auto"
              ><ion-text
                >{{ 'trip_detail.gl_for' | translate }}
              </ion-text></ion-col
            >
            <ion-col class="ellipsis">
              <ion-text [color]="campaignService.getCampaignColor(campaign)">
                <a
                  class="inherit-color"
                  [routerLink]="'/pages/tabs/campaigns/details/' + campaign.campaignId"
                  >{{campaign.campaignName[language]}}</a
                >
              </ion-text>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!tripDetail">no_trip</ng-container>
</ion-content>
