<!-- <hr />
tripParts$ {{ tripParts$ | async | json }}
<hr />
initialLatLng$ {{ initialLatLng$ | async | json }}
<hr /> -->
<!-- mapOptions$ | async {{ mapOptions$ | async | json }} -->
<hr />

<ng-container *ngIf="mapOptions$ | async as mapOptions">
  <!-- [leafletCenter]="tripInitialLatLng$ | async" -->
  <!-- we have mapOptions! tripPartLineLayers$ | async
  {{ tripPartLineLayers$ | async | json }} -->
  <div
    class="ngx-leaflet"
    leaflet
    [leafletOptions]="mapOptions"
    (leafletMapReady)="onMapReady($event)"
  >
    <ng-container *ngFor="let layer of tripPartLineLayers$ | async">
      <div [leafletLayer]="layer"></div>
    </ng-container>
  </div>
</ng-container>
