<div *ngIf="!isFuture() || otherUser">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="2" *ngIf="!isHome()">
        <ion-avatar>
          <img [src]="playerAvatarUrl$ | async" alt="avatar" /> </ion-avatar></ion-col>
      <ion-col>
        <ion-grid class="ion-no-padding"><ion-row class="ion-align-items-center"><ion-col size="1"
              *ngIf="isCompetitive() && !isFuture()" [ngClass]="
              isHome()?'ion-margin-start':''">
              <div [ngClass]="[
                  isWinning(status, otherUser?.status)
                    ? 'arrow-up'
                    : 'arrow-down'
                ]"></div>
            </ion-col><ion-col class="ion-text-start"><span class="ion-margin-start nickname-style">{{
                (profile$ | async)?.nickname
                }}</span></ion-col></ion-row><ion-row
            *ngIf="status !== null && !isHome() && !isGroupCompetitivePerformance() && !isFuture()"
            class="ion-align-items-center">
            <ion-col> <span class="ion-margin-start value-style">{{ status }}%</span></ion-col></ion-row><ion-row
            *ngIf="rowStatus !== null && !isHome() && unitHasKm && !isFuture()"><ion-col><span
                class="ion-margin-start value-style">{{
                rowStatus
                }}</span>
              Km</ion-col></ion-row></ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid *ngIf="otherUser" class="ion-no-padding">
          <ion-row class="ion-text-end ion-align-items-center">
            <ion-col class="ion-text-end"> <span class="ion-margin-end nickname-style">{{ otherUser?.nickname
                }}</span></ion-col><ion-col size="1" *ngIf="isCompetitive() && !isFuture()" [ngClass]="
                isHome()?'ion-margin-end':''">
              <div [ngClass]="[
                  isWinning(otherUser?.status, status)
                    ? 'arrow-up'
                    : 'arrow-down']
                "></div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-end ion-align-items-center"
            *ngIf="!isHome() && !isGroupCompetitivePerformance() && !isFuture()"><ion-col><span
                class="ion-margin-end value-style">{{
                otherUser.status
                }}%</span></ion-col></ion-row><ion-row class="ion-text-end"
            *ngIf="!isHome() && unitHasKm && !isFuture()"><ion-col><span class="ion-margin-end value-style">{{
                otherUser.row_status }}
                Km</span></ion-col></ion-row></ion-grid>
      </ion-col>
      <ion-col size="2" *ngIf="otherUser && !isHome() && unitHasKm">
        <ion-avatar>
          <img [src]="otherUser?.avatar?.url" alt="avatar" /> </ion-avatar></ion-col>
    </ion-row>
  </ion-grid>
</div>