ion-card-title {
  font-size: 16px;
  font-weight: 300;
}
ion-card-content {
  .prize {
    font-weight: 700;
  }
}

.gold {
  color: gold;
}
.silver {
  color: silver;
}
.bronze {
  color: chocolate;
}
