<ion-header appHeader></ion-header>
<ion-content appContent [fullscreen]="true">
  <ion-segment mode="md" class="app-segment app-segment-challenge" [(ngModel)]="selectedSegment" scrollable
    class="app-segment" [style.--background]="'var(--ion-color-'+campaignContainer.campaign.type+')'">
    <ion-segment-button value="periodicPrizes" checked mode="ios" class="app-segment-button"
      [style.--color]="'var(--ion-color-'+campaignContainer.campaign.type+'-contrast)'"
      [style.--color-checked]="'black'">
      <ion-label>{{'campaigns.detail.prize.periodic' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="finalPrizes" checked mode="ios" class="app-segment-button"
      [style.--color]="'var(--ion-color-'+campaignContainer.campaign.type+'-contrast)'"
      [style.--color-checked]="'black'">
      <ion-label>{{'campaigns.detail.prize.final' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectedSegment==='periodicPrizes'">
    <ng-container *ngIf="getActualPrize() as actualPrize; else noRewards">
      <div class="actual-header">
        <p><b>{{'campaigns.detail.prize.prizeactual' | translate}}</b><ion-icon name="information-circle"
            (click)="openWeekDescActual(actualPrize)"></ion-icon></p>
        <p>{{"campaigns.detail.from"|translate}}{{actualPrize.dateFrom|localDate: "d MMMM "}}
          &nbsp;{{"campaigns.detail.to"|translate}}{{actualPrize.dateTo|localDate:
          " d MMMM y"}}</p>
      </div>
      <ion-card *ngFor="let reward of actualPrize.rewards; let i = index;">
        <ion-card-header [ngClass]="getPostion(i)">
          <ion-card-title>
            <span><ion-icon name="gift"></ion-icon><app-ordinal-number [value]="i+1"></app-ordinal-number></span>
            <ion-icon name="information-circle" (click)="openRewardDescActual(actualPrize,i)"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-no-padding">
            <div class="sponsor">
              <ion-grid *ngIf="reward.desc">
                <ion-row class="desc">
                  <ion-col class="ion-text-start">
                    <b>{{reward.desc| languageMap}}</b>
                  </ion-col>
                </ion-row>
                <ion-row class="detail"
                  *ngIf="(reward.sponsorDesc|languageMap) || reward.sponsor || reward.sponsorWebsite">
                  <ion-col>
                    <div class="ion-text-start sponsorby">{{"campaigns.detail.prize.sponsorBy"| translate|uppercase}}
                    </div>
                    <div *ngIf="reward.sponsor" class="ion-text-start"><b>{{reward.sponsor}}</b></div>
                    <div *ngIf="reward.sponsorDesc" class="ion-text-start">{{reward.sponsorDesc|languageMap}}</div>
                    <div *ngIf="reward.sponsorWebsite" (click)="openLink(reward.sponsorWebsite)"
                      class="ion-text-end website">
                      {{"campaigns.detail.prize.website"| translate}}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-template #noRewards>
      {{'campaigns.detail.prize.noActual' | translate}}
    </ng-template>
    <ion-button expand="block" color="light" (click)="expandPrizes()" *ngIf="notExpanded; else expanded">{{
      "campaigns.detail.prize.expand" | translate
      }}</ion-button>
    <ng-template #expanded>
      <div class="ion-text-center">{{'campaigns.detail.prize.expanded' | translate}}</div>
    </ng-template>
    <ng-container *ngIf="!notExpanded">
      <ng-container *ngFor="let conf of this.campaignContainer?.campaign?.weekConfs">
        <ion-card *ngIf="conf?.rewards?.length>0 && conf?.dateFrom  && conf?.dateTo && isBeforeNow(conf)">
          <ion-card-header [style.--background]="'var(--ion-color-'+campaignContainer.campaign.type+')'">
            <ion-card-title><span>{{"campaigns.detail.from"|translate}}{{conf.dateFrom|localDate}}
                {{"campaigns.detail.to"|translate}} {{conf.dateTo|localDate}}</span><span
                *ngIf="isThisPeriod(conf?.dateFrom,conf?.dateTo)"
                class="on-going">{{'campaigns.detail.current'|translate}}</span></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list *ngFor="let reward of conf.rewards">
              <ion-item class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <ion-icon name="gift" [ngClass]="'packet-'+getPostion(reward?.position-1)"></ion-icon>
                      <app-ordinal-number [value]="reward?.position"
                        [ngClass]="'packet-'+getPostion(reward?.position)"></app-ordinal-number>
                    </ion-col>
                    <ion-col>
                      <span class="prize"> {{
                        reward.desc|languageMap
                        }}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="selectedSegment==='finalPrizes'">
    <ng-container *ngIf="getFinalPrize() as finalPrize; else noFinal">
      <div class="final-header"><span>{{'campaigns.detail.prize.prizefinal' | translate}}<ion-icon
            name="information-circle" (click)="openWeekDescFinal(finalPrize)"></ion-icon></span> </div>
      <ion-card *ngFor="let reward of finalPrize.rewards; let i = index;">
        <ion-card-header [ngClass]="getPostion(i)">
          <ion-card-title>
            <span><ion-icon name="gift"></ion-icon><app-ordinal-number [value]="i+1"></app-ordinal-number></span>
            <ion-icon name="information-circle" (click)="openRewardDescFinal(finalPrize,i)"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-no-padding">
            <div class="sponsor">
              <ion-grid *ngIf="reward.desc">
                <ion-row class="desc">
                  <ion-col class="ion-text-start">
                    <b>≈{{reward.desc| languageMap}}</b>
                  </ion-col>
                </ion-row>
                <ion-row class="detail"
                  *ngIf="(reward.sponsorDesc|languageMap) || reward.sponsor || reward.sponsorWebsite">
                  <ion-col>
                    <div class="ion-text-start sponsorby">{{"campaigns.detail.prize.sponsorBy"| translate|uppercase}}
                    </div>
                    <div *ngIf="reward.sponsor" class="ion-text-start"><b>{{reward.sponsor}}</b></div>
                    <div *ngIf="reward.sponsorDesc" class="ion-text-start">{{reward.sponsorDesc|languageMap}}</div>
                    <div *ngIf="reward.sponsorWebsite" (click)="openLink(reward.sponsorWebsite)"
                      class="ion-text-end website">
                      {{"campaigns.detail.prize.website"| translate}}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-template #noFinal>
      {{'campaigns.detail.prize.noFinal' | translate}}
    </ng-template>
  </div>
</ion-content>