<!-- <div id="mapId" class="mapDiv"></div> -->
<div
  class="ngx-leaflet"
  leaflet
  [leafletOptions]="mapOptions"
  [leafletCenter]="tripInitialLatLng$ | async"
  (leafletMapReady)="onMapReady($event)"
>
  <div [leafletLayer]="currentLocationLayer$ | async"></div>
  <ng-container *ngFor="let layer of tripPartLineLayers$ | async">
    <div [leafletLayer]="layer"></div>
  </ng-container>
</div>
<app-current-location-map-control
  [map]="mapInstance"
  [mapCenter]="currentLatLng$ | async"
></app-current-location-map-control>

<div style="position: absolute; bottom: 0; z-index: 1000">
  <app-tracking-buttons size="small" [mapButton]="false"></app-tracking-buttons>
</div>
