$selected-background: white;
$not-selected-background: rgb(224, 224, 224);
// $not-selected-background: red;

.wrapper {
  // to be overridden in template
  --wizard-header-color: black;
}
.title-header {
  ion-card-title {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
  }
}
.form-steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
  margin-top: 10px;
}

$bubble-size: 30px;
$bubble-border: 3px;
$selected-bubble-increase: 2px;
.step-bubble {
  padding: 8px;
  border: $bubble-border solid var(--wizard-header-color);
  width: $bubble-size;
  height: $bubble-size;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  background: $not-selected-background;

  &.step-current {
    border-width: $bubble-border + $selected-bubble-increase;
    width: $bubble-size + 2 * $selected-bubble-increase;
    height: $bubble-size + 2 * $selected-bubble-increase;
    margin-left: -$selected-bubble-increase;
    margin-right: -$selected-bubble-increase;
    background: $selected-background;
    font-weight: bold;
  }

  &.last-step {
    border-radius: 0;
  }
}

.step-divider {
  height: 2px;
  background: var(--wizard-header-color);
  flex: 1;

  &.first-step {
    flex: 0.2;
  }
}
