$selected-background: white;
$not-selected-background: rgb(224, 224, 224);
// $not-selected-background: red;

.wrapper {
  // to be overridden in template
  --wizard-header-color: black;
}
.title-header {
  ion-card-title {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
  }
}
.form-steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
  margin-top: 10px;
}

.step-bubble {
  padding: 8px;
  border: 3px solid var(--wizard-header-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  // color: $blue;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  background: $not-selected-background;

  &.step-current {
    border-width: 5px;
    width: 32px;
    height: 32px;
    background: $selected-background;
  }

  &.last-step {
    border-radius: 0;
  }
}

.step-divider {
  height: 2px;
  background: var(--wizard-header-color);
  flex: 1;

  &.first-step {
    flex: 0.2;
  }
}
