<div class="wrapper">
  <ion-card>
    <ion-card-header [color]="'base'" class="title-header">
      <ion-card-title>
        <div *ngIf="title" class="ion-text-start">
          {{ title }}
        </div>
        <div *ngIf="selectedStep.title" class="ion-text-end">
          {{ selectedStep.title | translate }}
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="form-steps-container">
        <ng-container *ngFor="let step of steps; index as currentStepIndex">
          <div
            class="step-divider"
            [class.first-step]="currentStepIndex === 0"
          ></div>
          <div
            (click)="changeStep(currentStepIndex)"
            class="step-bubble"
            [class.step-current]="currentStepIndex === selectedStepIndex"
            [class.last-step]="currentStepIndex === steps.length - 1"
          >
            {{ currentStepIndex + 1 }}
          </div>
        </ng-container>
      </div>

      <!-- <div class="wrapper" *ngFor="let tmpl of templates">
      <ng-container [ngTemplateOutlet]="tmpl"></ng-container>
    </div> -->
      <div class="step-content-wrapper">
        <ng-container
          [ngTemplateOutlet]="templates[selectedStepIndex]"
        ></ng-container>
      </div>

      <div>
        <ion-button
          (click)="changeStep(selectedStepIndex - 1)"
          [disabled]="selectedStepIndex === 0"
          >Back</ion-button
        >
        <ion-button
          (click)="changeStep(selectedStepIndex + 1)"
          [disabled]="
            selectedStepIndex === steps.length - 1 ||
            selectedStep.validForNextStep !== true
          "
          >Next</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</div>
