<div
  class="form-steps-container"
  [style.--wizard-header-color]="'var(--ion-color-' + headerColor + ')'"
>
  <ng-container *ngFor="let step of templates; index as currentStepIndex">
    <div class="step-divider" [class.first-step]="currentStepIndex === 0"></div>
    <div
      (click)="changeStep(currentStepIndex)"
      class="step-bubble"
      [class.step-current]="currentStepIndex === selectedStep"
      [class.last-step]="currentStepIndex === templates.length - 1"
    >
      {{ currentStepIndex + 1 }}
    </div>
  </ng-container>
</div>

<!-- <div class="wrapper" *ngFor="let tmpl of templates">
  <ng-container [ngTemplateOutlet]="tmpl"></ng-container>
</div> -->
<div>
  <ng-container [ngTemplateOutlet]="templates[selectedStep]"></ng-container>
</div>

<div>
  <ion-button
    (click)="changeStep(selectedStep - 1)"
    [disabled]="selectedStep === 0"
    >Back</ion-button
  >
  <ion-button
    (click)="changeStep(selectedStep + 1)"
    [disabled]="selectedStep === templates.length - 1"
    >Next</ion-button
  >
</div>
