<ion-header appHeader></ion-header>
<ion-content appContent>
  <ion-item color="playgo">
    <ion-select
      class="app-alert"
      (ionChange)="campaignFilterSubject.next($any($event).target.value)"
      [value]="campaignFilterSubject | async"
    >
      <ion-select-option
        *ngFor="let campaign of myCampaigns$|async"
        [value]="campaign.id"
      >
        <ng-container *ngIf="campaign.id === 'NO_FILTER'">
          {{ "trips.filter_all_campaigns" | translate }}
        </ng-container>
        <ng-container *ngIf="campaign.id !== null">
          {{ campaign.name | languageMap }}
        </ng-container>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <app-infinite-scroll
    [allItemsInTemplate]="true"
    [response]="tripsResponse$ | async"
    (request)="scrollRequestSubject.next($event)"
    (items)="serverTripsSubject.next($event)"
  >
    <ng-template appInfiniteScrollContent>
      <ng-container
        *ngFor="let tripGroup of groupedTrips$ | async; trackBy: trackGroup"
      >
        <ion-item-divider color="playgo" sticky class="ion-padding">
          <ion-label>
            {{ tripGroup.monthDate | localDate: "MMMM y" }}
          </ion-label>
        </ion-item-divider>
        <ion-card
          *ngFor="let multiTrip of tripGroup.tripsInSameMonth; trackBy: trackMultiTrip"
        >
          <ion-grid>
            <!-- {{ multiTrip.multimodalId }} -->
            <app-trip-card
              *ngIf="multiTrip.trips.length === 1"
              [trip]="multiTrip.trips[0]"
              [isOneDayTrip]="multiTrip.isOneDayTrip"
              [multiModalTrip]="false"
            ></app-trip-card>

            <ng-container *ngIf="multiTrip.trips.length !== 1">
              <ion-row>
                <ion-col class="ion-text-end">
                  {{ multiTrip.date | localDate: noMonthOrYearFormat }}
                </ion-col>
              </ion-row>
              <ng-container
                *ngFor="let trip of multiTrip.trips; trackBy: trackTrip"
              >
                <app-trip-card
                  *ngIf="trip"
                  [trip]="trip"
                  [isOneDayTrip]="multiTrip.isOneDayTrip"
                  [multiModalTrip]="true"
                >
                </app-trip-card>
              </ng-container>
            </ng-container>
          </ion-grid>
        </ion-card>
      </ng-container>
    </ng-template>
  </app-infinite-scroll>
</ion-content>
