<ng-container *ngIf="campaign">
  <ion-header mode="ios" appHeader parallax [imageUrl]="bannerPath" [text]="getHeaderDateText(campaign)"
    [logo]="imagePath" height="30vh">
  </ion-header>

  <ion-content appContent [fullscreen]="true" class="page">
    <div >
      <ion-avatar class="avatar-campaign" [ngClass]="campaign.type">
        <img [src]="imagePath" title="campaign avatar" />
      </ion-avatar>

      <!-- Button iscrizione -->
      <ion-button class="ion-margin-start ion-margin-end" expand="block" color="playgo" *ngIf="joinIsVisible(campaign)"
        (click)="joinCampaign(campaign)" [disabled]="isJoinButtonDisabled(campaign)">
        {{'campaigns.join'|translate}}
      </ion-button>

      <!-- Messaggi di stato (solo se campagna non iniziata o can't subscribe) -->
      <div class="ion-text-center">
        <div *ngIf="campaignNotStarted(campaign)">
          <span *ngIf="isSchool(); else notHsc">{{'campaigns.notStartedHSC'|translate}}</span>
          <ng-template #notHsc>
            <span>{{'campaigns.notStarted'|translate}}</span>
          </ng-template>
        </div>
        
        <span *ngIf="!canSubscribe && !campaignNotStarted(campaign) && !isRegistrationEnded(campaign)" 
              [innerHTML]="'campaigns.cantSubscribe'|translate">
        </span>
      </div>
    </div>

    <!-- Card dettagli campagna -->
    <ion-card>
      <ion-card-content>
        <!-- Periodo di iscrizione (se presente) - PRIMA di sponsor/description -->
        <div *ngIf="hasRegistrationPeriod(campaign)" class="registration-period" 
             [ngClass]="{
               'status-warning': isRegistrationNotStarted(campaign),
               'status-success': isRegistrationPeriodActive(campaign),
               'status-danger': isRegistrationEnded(campaign)
             }">
          <span class="registration-text">
            {{ 'campaigns.detail.registrationLabel' | translate }}:
            <span *ngIf="campaign.registrationFrom">{{ campaign.registrationFrom | localDate:'dd/MM/yyyy' }}</span>
            <span *ngIf="campaign.registrationFrom && campaign.registrationTo"> - </span>
            <span *ngIf="campaign.registrationTo">{{ campaign.registrationTo | localDate:'dd/MM/yyyy' }}</span>
          </span>
        </div>

        <!-- Sponsor (Organizzatori e sponsor) -->
        <div *ngIf="campaignHasSponsor(campaign?.details | languageMap)">
          <div [innerHTML]="getCampaignSponsor(campaign?.details | languageMap)?.content"></div>
        </div>

        <!-- Description -->
        <div class="box" (click)="clickDescription()" [ngClass]="descriptionExpanded ? 'open' : ''">
          <div class="text" [innerHTML]="campaign.description | languageMap"></div>
        </div>

        <div class="expansion" (click)="clickDescription()">
          <ion-icon name="chevron-up-outline" *ngIf="descriptionExpanded"></ion-icon>
          <ion-icon name="chevron-down-outline" *ngIf="!descriptionExpanded"></ion-icon>
        </div>

        <!-- Details -->
        <div *ngIf="(campaign.details | languageMap) as details">
          <ng-container *ngFor="let detail of details">
            <div *ngIf="detail.type!=='sponsor'" (click)="openDetail(detail)">
              <ion-item lines="none">
                <ion-label>
                  <span class="text-bold text-underlined">{{detail.name}}</span>
                </ion-label>
                <ion-icon name="information-circle-outline" end></ion-icon>
              </ion-item>
            </div>
          </ng-container>

          <div *ngIf="isCompany() && campaign?.specificData?.hideCompanyDesc !== true">
            <ion-item lines="none" (click)="openCompanies()">
              <ion-label>
                <span class="text-bold text-underlined">
                  {{'campaigns.detail.companies'|translate}}
                </span>
              </ion-label>
              <ion-icon name="information-circle-outline" end></ion-icon>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>