<div *ngIf="statistics !== undefined" (click)="openStats()">
  <ion-card>
    <ion-card-header>
      <ion-label>
        <strong>{{ "generalStatistics" | translate }}</strong>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let meanStat of statistics">
          <ion-col>
            <ion-label>{{ stat }}</ion-label>
            <app-single-mean-statistic [meanStat]="meanStat"></app-single-mean-statistic>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</div>

<div *ngIf="statistics === undefined">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-label>
              <strong>{{ "generalStatistics" | translate }}</strong>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            {{ "noStatistics" | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>