<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="tracking-button" [activated]="fabListActive"
  (click)="toggleFabList()" #fabelement>
  <ion-fab-button color="start" close-icon="chevron-down">
    <ion-icon name="chevron-up" *ngIf="(tripService.isInTrip$ | async) === true; else playbutton"></ion-icon>
    <ng-template #playbutton>
      <ion-icon name="play"></ion-icon>
    </ng-template>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ng-container *ngFor="
        let eachTransportTypeOption of transportTypeOptions$ | async;
        trackBy: trackTransportFabButton
      ">
      <ion-fab-button *ngIf="
          (tripService.operationInProgress$ | async) ||
          (tripService.activeTransportType$ | async) ===
            eachTransportTypeOption.transportType
            ? 'disabled'
            : 'enabled' as fabButtonState
        " [class.disabled]="fabButtonState === 'disabled'" color="playgo" [color]="
          (tripService.activeTransportType$ | async) ===
          eachTransportTypeOption.transportType
            ? ''
            : 'playgo'
        " [class.activated]="(tripService.activeTransportType$ | async) ===
        eachTransportTypeOption.transportType" (click)="
          changeTransportType(
            $event,
            eachTransportTypeOption.transportType,
            $any(fabButtonState)
          )
        " class="fab-button-show">
        <ion-spinner name="crescent" color="light" class="progress-spinner" *ngIf="
            inProgressButton === eachTransportTypeOption.transportType &&
            (tripService.operationInProgress$ | async)
          "></ion-spinner>
        <app-icon class="icon-size-medium" [name]="eachTransportTypeOption.icon"></app-icon>
      </ion-fab-button>
    </ng-container>

    <ion-fab-button (click)="stop($event)" color="danger" [disabled]="tripService.operationInProgress$ | async"
      *ngIf="(tripService.isInTrip$ | async) === true" class="fab-button-show">
      <ion-spinner name="crescent" color="light" class="progress-spinner" *ngIf="
          inProgressButton === 'stop' &&
          (tripService.operationInProgress$ | async)
        "></ion-spinner>
      <ion-icon name="stop"> </ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>