<ion-item *ngIf="placing" [class.my-placing]="myTeam?.id === placing.groupId" [ngStyle]="{
    border: mine
      ? '3px solid var(--ion-color-' + campaign?.campaign?.type + ')'
      : ''
  }" [routerLink]="
    myTeam?.id !== placing.groupId
      ? ['/pages/team-profile/' + campaign?.campaign?.campaignId + '/' + placing.groupId+'/public']
      : ['/pages/team-profile/' + campaign?.campaign?.campaignId + '/' + placing.groupId+'/my']
  " detail="false">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <app-ordinal-number [value]="placing.position"></app-ordinal-number>
      </ion-col>
      <ng-container *ngIf="myTeam?.id === placing.groupId">
        <ion-col size="2">
          <ion-avatar *ngIf="myTeam?.avatar?.url; else alternativeAvatar">
            <img [src]="myTeam?.avatar?.url" title="avatar" />
          </ion-avatar>
          <ng-template #alternativeAvatar>
            <ion-avatar>
              <ion-icon name="people-circle-outline"></ion-icon>
            </ion-avatar>
          </ng-template>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="myTeam?.id !== placing.groupId">
        <ion-col size="2">
          <ion-avatar *ngIf="placing?.avatar; else alternativeAvatar">
            <img [src]="placing?.avatar?.url" title="avatar" />
          </ion-avatar>
          <ng-template #alternativeAvatar>
            <ion-avatar>
              <ion-icon name="people-circle-outline"></ion-icon>
            </ion-avatar>
          </ng-template>
        </ion-col>
      </ng-container>
      <ion-col size="5" class="ion-text-start">
        <p class="nickname">{{ placing?.customData?.name }}</p>
      </ion-col>
      <ion-col size="3" class="ion-text-end">
        <div class="points">{{ getValue(placing.value) | localNumber: '0.0-1'
          }} <app-icon name="ecoLeavesHsc"></app-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>