.my-placing {
  font-weight: bold;
}
.nickname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
ion-row {
  align-items: center;
}

ion-icon {
  width: 45px;
  height: 45px;
}
