.user-intro {
  text-align: center;
  margin: 52px auto;
  width: 124px;
  height: 124px;
  ion-avatar {
    margin: auto;
    height: 102px;
    width: 102px;
  }
  .nickname {
    margin-top: 32px;
    font-weight: 600;
    font-size: 18px;
  }
}
