.user-intro {
  text-align: center;
  margin: 52px auto;
  width: 102px;
  height: 102px;
  ion-avatar {
    margin: auto;
    height: 80px;
    width: 80px;
  }
  .nickname {
    margin-top: 32px;
    font-weight: bold;
  }
}
