<ion-header>
  <ion-toolbar color="playgo">
    <ion-buttons slot="start">
      <ion-button (click)=" close()" text="">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div> {{'campaigns.detail.youCompany'|translate}}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="userCompany" class="ion-padding">
  <div>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="4" class="image-center">
          <ion-thumbnail>
            <img alt="Logo" [src]="imagePath" *ngIf="imagePath; else userCompanyIcon" />
            <ng-template #userCompanyIcon>
              <ion-icon name="briefcase-outline" size="large"></ion-icon>
            </ng-template>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="8" class="company-desc ion-padding">
          <div class="desc"> {{userCompany?.company?.name}} </div>
          <div>
            <span>{{userCompany?.company?.address}} </span> <span>{{userCompany?.company?.streetNumber}} </span>
            <span>{{userCompany?.company?.zip}}
            </span>
            <span>{{userCompany?.company?.city}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col size="4" class="ion-no-padding ion-no-margin">
          <div *ngIf="userCompany?.company?.web" class="website"><ion-button
              (click)="openWebsite(userCompany?.company?.web)" expand="block" color="playgo"><ion-icon slot="start"
                name="globe"></ion-icon>{{
              'campaigns.detail.companiesPage.website' | translate }}</ion-button></div>
        </ion-col>
        <ion-col size="4" class="ion-no-padding ion-no-margin">
          <div *ngIf="userCompany?.company?.contactEmail" class="website">
            <ion-button (click)="openMail(userCompany?.company?.contactEmail)" expand="block" color="playgo"><ion-icon
                slot="start" name="mail"></ion-icon>{{
              'campaigns.detail.companiesPage.email' | translate }}</ion-button>
          </div>
        </ion-col><ion-col size="4" class="ion-no-padding ion-no-margin">
          <div *ngIf="userCompany?.company?.contactPhone" class="website">
            <ion-button (click)="openPhone(userCompany?.company?.contactPhone)" expand="block" color="playgo"><ion-icon
                slot="start" name="call"></ion-icon>{{
              'campaigns.detail.companiesPage.phone' | translate }}</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="section">{{'campaigns.detail.mm'|translate}}</div>
          <div *ngFor="let mm of userCompany?.mobilityManagers" class="subsection">
            <div (click)="openMail(userCompany?.company?.contactEmail)">
              <span><b>{{mm.name}}</b></span> <span><b>{{mm.surname}}</b></span>
            </div>
            <div><span class="link">{{mm.username}}</span></div>
            <div (click)="openPhone(userCompany?.company?.contactPhone)">
              <span class="link">{{mm.phone}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="section">
            {{
            'campaigns.detail.companiesPage.location' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let location of userCompany?.company?.locations">
        <ion-col size="10">
          <div class="id">{{location.id}}</div>
          <div class="address">{{location.address}}
            {{location.streetNumber}}
            {{location.zip}}
            {{location.city}}
          </div>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="openMap(location,userCompany?.company?.locations,location)" color="playgo">
            <ion-icon name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>