.limit-title {
  font-weight: bold;
  margin: 8px;
}
.limit-sub {
  font-weight: bold;
  margin: 8px 0px 0px 0px;
}
.limit-text {
  margin: 8px;
}
ion-footer {
  background: var(--ion-color-playgo);
}
.modal-progression {
  text-align: left;
}
.points {
  text-align: left;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  border-style: none none dashed none;
  margin: 16px 9px;
  div {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    app-icon {
      margin: 2px;
    }
  }
}
