<ion-header appHeader></ion-header>
<ion-content appContent [fullscreen]="true">
  <div class="header-margin">
    <ion-item [color]="campaignContainer.campaign.type" class="header-radius">
      <ion-label
        >{{ 'campaigns.stats.filter.mean_type' | translate }}</ion-label
      >
      <ion-select
        class="app-alert"
        (ionChange)="statMeanChangedSubject.next($any($event))"
        [value]="selectedStatMeanType$ | async"
      >
        <ion-select-option
          *ngFor="let statMeanType of statsMeanTypes$|async"
          [value]="statMeanType"
        >
          {{statMeanType.labelKey |translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [color]="campaignContainer.campaign.type">
      <ion-label
        >{{ 'campaigns.stats.filter.unit_type' | translate }}</ion-label
      >
      <ion-select
        class="app-alert"
        (ionChange)="statUnitChangedSubject.next($any($event))"
        [value]="selectedStatUnitType$ | async"
      >
        <ion-select-option
          *ngFor="let statUnitType of statsUnitTypes$|async"
          [value]="statUnitType"
        >
          {{statUnitType.labelKey | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-segment
      mode="md"
      class="app-segment"
      [style.--background]="'var(--ion-color-'+campaignContainer.campaign.type+')'"
      [(ngModel)]="selectedSegment"
      (ionChange)="segmentChanged($event);
      statPeriodChangedSubject.next(selectedSegment)"
      scrollable
    >
      <ion-segment-button
        *ngFor="let period of periods"
        [value]="period"
        checked
        mode="ios"
        class="app-segment-button"
        [style.--radius]="'10px'"
        [style.--color]="'var(--ion-color-'+campaignContainer.campaign.type+'-contrast)'"
        [style.--color-checked]="'black'"
      >
        <ion-label>{{period.labelKey| translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-grid
      class="table-header"
      [style.background-color]="'var(--ion-color-'+campaignContainer.campaign.type+'-stat)'"
    >
      <ion-row>
        <ion-col size="2">
          <ion-button
            (click)="backPeriod()"
            fill="clear"
            [style.color]="'var(--ion-color-'+campaignContainer.campaign.type+'-stat-contrast)'"
          >
            <ion-icon name="chevron-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <p
            class="ion-text-center period-value"
            [style.color]="'var(--ion-color-'+campaignContainer.campaign.type+'-contrast)'"
          >
            {{getSelectedPeriod()}}
          </p>
          <p
            class="ion-text-center total-value"
            [style.color]="'var(--ion-color-'+campaignContainer.campaign.type+'-contrast)'"
          >
            {{totalValue | localNumber}} {{(selectedStatUnitType$
            |async).unitKey}}
          </p>
        </ion-col>
        <ion-col size="2">
          <ion-button
            (click)="forwardPeriod()"
            [style.color]="'var(--ion-color-'+campaignContainer.campaign.type+'-stat-contrast)'"
            fill="clear"
          >
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <canvas
      #barCanvas
      style="position: relative; height: 20vh; width: 40vw"
      id="statsChart"
    ></canvas>
  </div>
</ion-content>
