<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> {{ 'campaigns_title' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-gradient">
    <div class="campaigns-container">
      <h5>{{'campaigns.myCampaigns' | translate}}</h5>
      <hr />
    </div>
    <div>
      <app-my-campaign></app-my-campaign>
    </div>
    <div class="background-gradient">
      <h5>{{'campaigns.allCampaigns' | translate}}</h5>
      <hr />
    </div>
    <div>
      <app-all-campaign></app-all-campaign>
    </div>
  </div>
</ion-content>
