ion-grid {
  .progress-bar {
    .level-bar {
      height: 16px;
      --background: red;
      --progress-background: green;
    }
  }
  .status {
    color: var(--dark-grey);
  }
  .record {
    color: var(--dark-grey);
  }
}
