<div class="ion-text-left" *ngIf="limitMax">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <b>{{ header }} {{ limitValue?.value | localNumber }}</b>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        {{ limitMax }} {{ "max" | translate }}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="limitValue?.value; else zeroProgress">
      <ion-col class="progress-bar">
        <ion-progress-bar
          class="level-bar"
          [color]="type"
          [value]="limitValue?.value / limitMax"
        ></ion-progress-bar>
      </ion-col>
    </ion-row>
    <ng-template #zeroProgress>
      <ion-row>
        <ion-col class="progress-bar">
          <ion-progress-bar
            class="level-bar"
            [color]="type"
            [value]="0"
          ></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</div>
