<div class="ion-text-left" *ngIf="limitMax">
  <ion-grid>
    <ion-row class="limit-text">
      <ion-col size="7">
        <div class="max-length">{{ header }} <b>{{ limitValue?.value | localNumber: '0.0-1'
            }} <span>{{virtualScoreLabel}}</span></b></div>

      </ion-col>
      <ion-col size="4" class="ion-text-end">
        <div class="max-length"> {{ limitMax }}
          {{ "campaigns.homewidgets.stat.max" | translate }}</div>
      </ion-col>
      <ion-col *ngIf="infoBox" size="1">
        <ion-icon class="info-box" name="information-circle-outline" (click)="openLimit($event)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="limitValue?.value; else zeroProgress">
      <ion-col class="progress-bar">
        <ion-progress-bar class="level-bar" [color]="type" [value]="(limitValue?.value) / limitMax">
        </ion-progress-bar>
      </ion-col>
    </ion-row>
    <ng-template #zeroProgress>
      <ion-row>
        <ion-col class="progress-bar">
          <ion-progress-bar class="level-bar" [color]="type" [value]="0"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</div>