<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'profile.change.modalTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="profile">
    <ion-row>
      <ion-col text-center>
        <h3>{{profile.nickname}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <p>{{profile.mail}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-item lines="full">
          <ion-label>{{'profile.change.lang.language'|translate}}</ion-label>
          <ion-select
            placeholder="{{'profile.change.lang.select'|translate}}"
            [(ngModel)]="profile.language"
          >
            <ion-select-option value="it"
              >{{'profile.change.lang.it'|translate}}</ion-select-option
            >
            <ion-select-option value="en"
              >{{'profile.change.lang.en'|translate}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="close()"
          >{{ 'profile.change.closeButton' | translate }}</ion-button
        >
      </ion-col>
      <ion-col text-center>
        <ion-button (click)="closeAndSave()"
          >{{ 'profile.change.saveButton' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
