.model {
  border: 2px solid var(--ion-color-base);
  background-color: var(--ion-color-lighter);
  border-radius: 10px;
  margin: 10px;
  &.disabled {
    border-color: gray;
  }
  &.selected {
    border-width: 4px;
  }
}
