.progress-bar {
  height: 24px;
  width: var(--varwidth, 0%);
  color: black;
  background-color: rgb(8, 166, 240);
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.progress-bar-contourn {
  border: 1px solid black;
  border-color: black;
  margin-left: 18px;
  margin-right: 18px;
  background-color: lightgrey;
  border-radius: 10px;
}

.border-class {
  border: 1px solid rgb(63, 63, 63);
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-class-fancy {
  border: 1px solid rgb(255, 255, 255);
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.ion-card {
  color: black;
  background-color: white;
  div ion-avatar {
    --border-radius: 50%;
    border: solid 3px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    text-align: center;
    right: 20px;
    top: 40px;
  }
}
.company {
  border: 3px solid var(--ion-color-company);
}
.school {
  border: 3px solid var(--ion-color-school);
}
.city {
  border: 3px solid var(--ion-color-city);
}
.header {
  position: relative;

  .banner {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .header-title {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    padding: 8px;
  }
}
