<!-- all campaigns -->
<div>
  <ion-card class="ion-card" [ngClass]="campaign.type">
    <div class="header">
      <img [src]="bannerPath" alt="banner" class="banner" />
      <ion-item lines="none" class="header-title">
        <ion-avatar style="margin: 2px" slot="end">
          <img [src]="imagePath" alt="image" />
        </ion-avatar>
        <ion-label>
          <h3>{{ campaign.name[language] }}</h3>
          <h4>{{ "campaigns.blabla" | translate }}</h4>
          <h4>
            {{ campaign.dateFrom | localDate }} -
            {{ campaign.dateTo | localDate }}
          </h4>
        </ion-label>
      </ion-item>
    </div>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-card-content [innerHTML]="campaign.description[language]">
          </ion-card-content>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button
            style="margin-left: 18px; margin-bottom: 6px"
            (click)="joinCamp()"
            [color]="campaign.type"
            >{{ "join" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>
