<!-- all campaigns -->
<div>
  <ion-card class="ion-card">
    <div style="height: 64px">
      <div style="float: left">
        <ion-card-header style="color: white">
          <strong> {{ campaign.name }}</strong>
        </ion-card-header>
      </div>
      <div style="float: right; margin: 2px" *ngIf="campaign.logo.image">
        <ion-avatar style="margin: 2px">
          <img [src]="imagePath" />
        </ion-avatar>
      </div>
    </div>
    <ion-card-subtitle style="color: white; margin-left: 18px">
      {{ campaign.dateFrom }} - {{ campaign.dateTo }}</ion-card-subtitle
    >
    <ion-card-content [innerHTML]="campaign.description"> </ion-card-content>
    <ion-button
      style="margin-left: 18px; margin-bottom: 6px"
      (click)="joinCamp()"
      >{{ "join" | translate }}
    </ion-button>
  </ion-card>
</div>
