.result {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}

.border {
  border-bottom: 2px solid black;
}
.add-button {
  --background: rgba(198, 16, 16, 1);
}
.remove-button {
  --background: rgba(53, 150, 117, 1);
}
ion-button {
  app-icon {
    padding: 0px 8px 0px 0px;
  }
}
