<div>
  <ion-grid>
    <ion-row *ngIf="showRanking">
      <ion-col size="10" class="ranking">
        <ng-container *ngIf="reportWeekStat">
          <span class="ion-text-left">
            <app-ordinal-number [value]="reportWeekStat?.position"></app-ordinal-number>
            {{ "campaigns.homewidgets.stat.weekposition" | translate }}
          </span>
        </ng-container>
        <ng-container *ngIf="reportWeekStat && reportTotalStat">
          <span class="ion-text-left">-</span>
        </ng-container>
        <ng-container *ngIf="reportTotalStat" class="ion-text-left">
          <app-ordinal-number [value]="reportTotalStat?.position"></app-ordinal-number>
          <span>
            {{ "campaigns.homewidgets.stat.totalposition" | translate }}
          </span>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" *ngIf="reportWeekStat || reportMonthStat || reportTotalStat">
        <app-icon [name]="
            campaignService.getCampaignTypeIcon(campaignContainer?.campaign)
          "></app-icon>
      </ion-col>
      <ion-col class="report">
        <p *ngIf="reportWeekStat" class="ion-text-left" [innerHtml]="
            'campaigns.homewidgets.stat.weekvalue'
              | translate: { value: getValueByUnit(reportWeekStat?.value,unit) | localNumber, unit: unit}
          "></p>
        <p *ngIf="reportMonthStat" class="ion-text-left" [innerHtml]="
            'campaigns.homewidgets.stat.monthvalue'
              | translate: { value: getValueByUnit(reportMonthStat?.value,unit) | localNumber , unit: unit}
          "></p>
        <p *ngIf="reportTotalStat" class="ion-text-left" [innerHtml]="
            'campaigns.homewidgets.stat.totalvalue'
              | translate: { value: getValueByUnit(reportTotalStat?.value,unit) | localNumber , unit: unit}
          "></p>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="showGameStatus">
      <ion-row *ngIf="status !== null; else nullStatus">
        <ion-col>
          <app-game-status [status]="status" [type]="campaignContainer?.campaign?.type"></app-game-status>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row *ngIf="record !== null && reportWeekStat !== null">
      <ion-col>
        <app-record-status [status]="reportWeekStat" [record]="record" [type]="campaignContainer?.campaign?.type">
        </app-record-status>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="limitDayValue">
      <ion-col>
        <app-limit-status [limitMax]="limitDayMax" [limitValue]="limitDayValue"
          [type]="campaignContainer?.campaign?.type" [header]="'campaigns.homewidgets.stat.today' | translate">
        </app-limit-status>
      </ion-col>
    </ion-row>
    <!-- <ng-template #emptyValueDay>Nessun valore giornaliero</ng-template> -->
    <ion-row *ngIf="limitMonthValue !== null">
      <ion-col>
        <app-limit-status [limitMax]="limitMonthMax" [limitValue]="limitMonthValue"
          [type]="campaignContainer?.campaign?.type" [header]="'campaigns.homewidgets.stat.lastmonth' | translate">
        </app-limit-status>
      </ion-col>
    </ion-row>
    <!-- <ng-template #emptyValueMonth>Nessun valore del mese</ng-template> -->

    <ng-template #nullStatus>
      <ion-row>
        <ion-col>
          {{ "campaigns.homewidgets.stat.emptystatus" | translate }}</ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</div>