<ion-card>
  <app-notification-badge
    *ngIf="header"
    [type]="'campaign'"
    [campaignContainer]="campaignContainer"
  ></app-notification-badge>
  <ion-card-header *ngIf="header" color="company">
    <ion-item lines="none" color="company">
      <ion-avatar>
        <img [src]="imagePath" alt="Avatar" />
      </ion-avatar>
      <strong> {{ campaignContainer.campaign.name | languageMap }}</strong>
    </ion-item>
  </ion-card-header>
  <ion-card-content class="company-content">
    <app-main-campaign-stat
      [campaignContainer]="campaignContainer"
      [reportWeekStat]="reportWeekStat"
      [reportTotalStat]="reportTotalStat"
    >
    </app-main-campaign-stat>
    <!-- <app-home-campaign-challenges [campaignContainer]="campaignContainer">
    </app-home-campaign-challenges> -->
  </ion-card-content>
</ion-card>
