<ion-card class="home-card-widget">
  <app-notification-badge *ngIf="header" [type]="'campaign'" [campaignContainer]="campaignContainer">
  </app-notification-badge>
  <ion-card-header *ngIf="header" color="company">
    <div lines="none" color="company">
      <ion-avatar>
        <img [src]="imagePath" alt="Avatar" />
      </ion-avatar>
      <span> {{ campaignContainer.campaign.name | languageMap }}</span>
    </div>
  </ion-card-header>
  <ion-card-content class="company-content ion-no-padding">
    <app-main-campaign-stat [campaignContainer]="campaignContainer" [reportMonthStat]="reportMonthStat"
      [showRanking]="false" [reportTotalStat]="reportTotalStat" [limitMonthMax]="
        campaignContainer?.campaign?.specificData?.bike?.monthlyLimit
      " [limitMonthValue]="reportMonthStat" [limitDayMax]="
        campaignContainer?.campaign?.specificData?.bike?.dailyLimit
      " [limitDayValue]="reportDayStat" [unit]="'Km'">
    </app-main-campaign-stat>
    <!-- <app-home-campaign-challenges [campaignContainer]=" campaignContainer">
      </app-home-campaign-challenges> -->
  </ion-card-content>
</ion-card>