<div class="ion-text-left" *ngIf="status">
  <span
    [innerHtml]="
      'campaigns.homewidgets.stat.levelName'
        | translate: { levelName: status?.levels[0]?.levelValue }
    "
  ></span>
  <span
    class="score"
    [innerHtml]="
      'campaigns.homewidgets.stat.score' | translate: { score: status?.score }
    "
  ></span>
  <div class="progress-bar">
    <ion-progress-bar
      class="level-bar"
      [color]="type"
      [value]="getValueScore()"
    ></ion-progress-bar>
  </div>
</div>
