<ion-card>
  <ion-card-header [color]="challenge?.campaign?.type" class="header">
    <span>{{ challenge?.campaign?.name | languageMap }}</span>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center challenge-type">
          {{typeChallenge(challenge.type)}}
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="2"><app-icon class="icon-size-medium" [name]="imgChallenge(challenge.type)"></app-icon></ion-col>
        <ion-col>
          <p [innerHTML]="challenge.challDesc | languageMap"></p>
        </ion-col>
        <ion-col size="1">
          <ion-icon (click)="moreInfo()" class="popup-icon" name="information-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="challengeEnded()">
        <ion-col class="ion-text-center status-chall">
          <div *ngIf="challengeWon(); else challengeLost">
            <p class="won">
              {{ "challenges.challenge_detail.won" | translate | uppercase }}
            </p>
            <p class="prize">
              {{
              "challenges.challenge_detail.prize"
              | translate
              : {
              prize: challenge.bonus
              }
              }}
              <app-icon [name]="
                  campaignService.getCampaignScoreIcon(challenge.campaign)
                "></app-icon>
            </p>
          </div>

          <ng-template #challengeLost>
            <p class="lost">
              {{ "challenges.challenge_detail.lost" | translate | uppercase }}
            </p>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><app-challenge-users-status *ngIf="challenge.type !== 'survey'" [status]="challenge.status"
            [rowStatus]="challenge.row_status" [type]="type" [challengeType]="challenge.type"
            [otherUser]="challenge.otherAttendeeData"
            [unitHasKm]="getUnitChallenge(challenge)"></app-challenge-users-status></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="type === 'active'; else future">
            <app-challenge-bar-status *ngIf="challenge.type !== 'survey'; else survey" [status]="challenge.status"
              [rowStatus]="challenge.row_status" [otherStatus]="challenge.otherAttendeeData?.status"
              [challengeType]="challenge.type" [type]="type"></app-challenge-bar-status>
            <ng-template #survey>
              <ion-button [color]="challenge?.campaign?.type" expand="block" (click)="fillSurvey()"
                *ngIf="challenge.extUrl &&  challenge.status<100">
                {{ "challenges.challenge_detail.survey" | translate }}
              </ion-button>
            </ng-template>
          </div>

          <ng-template #future>
            <div class="ion-text-center challenge-date ">
              {{
              "challenges.challenge_detail.challenge_future_start"
              | translate
              : {
              startDate: challenge.startDate | localDate
              }
              }}
            </div>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <span class="challenge-date">{{
            "date.from_to"
            | translate
            : {
            from: challenge.startDate | localDate,
            to: challenge.endDate | localDate
            }
            }}</span>
        </ion-col>
        <ion-col size="4" class="ion-text-end point-col">
          <span class="challenge-date">{{ challenge.bonus }}</span>
          <app-icon [name]="campaignService.getCampaignScoreIcon(challenge.campaign)"></app-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p></p>
  </ion-card-content>
</ion-card>