<ion-card>
  <ion-card-header [color]="challenge?.campaign?.type">
    <ion-card-title>
      <span>{{ challenge?.campaign?.name | languageMap }}</span>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2"
          ><app-icon class="icon-size-big" [name]="getImgChallenge()"></app-icon
        ></ion-col>
        <ion-col>
          <p [innerHTML]="challenge.challDesc"></p>
          <!-- <p [innerHTML]="challenge.challCompleteDesc"></p> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          ><app-challenge-users-status
            [status]="challenge.status"
            [rowStatus]="challenge.row_status"
            [type]="type"
            [challengeType]="challenge.type"
            [otherUser]="challenge.otherAttendeeData"
          ></app-challenge-users-status
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          ><div *ngIf="type === 'active'; else future">
            <app-challenge-bar-status
              [status]="challenge.status"
              [rowStatus]="challenge.row_status"
              [otherStatus]="challenge.otherAttendeeData?.status"
              [challengeType]="challenge.type"
              [type]="type"
            ></app-challenge-bar-status>
          </div>

          <ng-template #future>
            <div class="ion-text-center">
              {{
                "challenges.challenge_detail.challenge_future_start"
                  | translate
                    : {
                        startDate: challenge.startDate | localDate
                      }
              }}
            </div>
          </ng-template></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="8">
          {{
            "date.from_to"
              | translate
                : {
                    from: challenge.startDate | localDate,
                    to: challenge.endDate | localDate
                  }
          }}
        </ion-col>
        <ion-col size="4">
          {{ challenge.bonus }}
          <app-icon
            [name]="campaignService.getCampaignScoreIcon(challenge.campaign)"
          ></app-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p></p
  ></ion-card-content>
</ion-card>
<!--

  active?: boolean;
  bonus?: number;
  challCompleteDesc?: string;
  challCompletedDate?: number;
  challDesc?: string;
  challId?: string;
  challTarget?: number;
  daysToEnd?: number;
  endDate?: number;
  otherAttendeeData?: OtherAttendeeData;
  proposerId?: string;
  row_status?: number;
  startDate?: number;
  status?: number;
  success?: boolean;
  type?: string;
  unit?: string;
 -->
