<ng-container *ngIf="campaign">
  <ion-header
    appHeader
    parallax
    [imageUrl]="campaign?.banner?.url"
    height="30vh"
  >
  </ion-header>
  <ion-content appContent [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-avatar class="avatar-campaign" [ngClass]="campaign.type">
          <img [src]="imagePath" title="campaign avatar" />
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-padding">
          <ion-button
            class="ion-margin"
            expand="block"
            color="playgo"
            *ngIf="joinIsVisible(campaign)"
            (click)="joinCampaign(campaign)"
            [disabled]="campaignIsDisabled(campaign)"
            >{{'campaigns.join'|translate}}
          </ion-button>
        </div>
        <ion-item lines="none"
          ><ion-label
            >{{'campaigns.detail.dateFrom'|translate}}<span class="text-bold"
              >{{campaign.dateFrom|localDate}}</span
            ></ion-label
          ></ion-item
        >
        <ion-item lines="none"
          ><ion-label
            >{{'campaigns.detail.dateTo'|translate}}<span class="text-bold"
              >{{campaign.dateTo |localDate}}</span
            ></ion-label
          ></ion-item
        >
        <div *ngIf="(campaign.details | languageMap) as details">
          <div *ngFor="let detail of details" (click)="openDetail(detail)">
            <ion-item lines="none">
              <ion-label
                ><span class="text-bold text-underlined">
                  {{detail.name}}</span
                ></ion-label
              >
              <ion-icon name="information-circle-outline" end> </ion-icon>
            </ion-item>
          </div>
        </div>
        <div>
          <!-- <p class="text-bold">{{'campaigns.detail.description'|translate}}</p> -->
          <div [innerHTML]="campaign.description | languageMap"></div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
