.avatar-campaign {
  margin: 16px auto;
}
.company {
  border: 3px solid var(--ion-color-company);
}
.school {
  border: 3px solid var(--ion-color-school);
}
.city {
  border: 3px solid var(--ion-color-city);
}
