<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-title> {{ 'profileTitle' | translate }} </ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-profile-component [editable]="true" [showStatus]="true"></app-profile-component>
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-in="6">
        <ion-label> {{today| localDate}} {{val| localNumber}} </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <app-general-statistics></app-general-statistics>
  <!-- <app-my-activity></app-my-activity>
  <app-message></app-message>
   -->
</ion-content>