<ion-card button="accessProfile" (click)="accessProf()">
  <ion-card-header>
    <strong> {{user.name}}</strong>
  </ion-card-header>
  <div>
    <ion-avatar>
      <img src="{{user.img_source}}">
    </ion-avatar>
  </div>
  <ion-card-content>
    <div>
      <ion-grid>
        <ion-row>
          <ion-label>
            {{user.totalLeaf}}
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            nextMilestone
          </ion-label>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card-content>
</ion-card>
