<ion-card>
  <ion-card-header>
    <ion-label>
      {{"playNow" | translate}}
    </ion-label>
  </ion-card-header>
  <ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="startTraking('walk')" [ngStyle]="{'background-color':'#82b2ff'}">
            <ion-icon size="large" name="walk"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="startTraking('bicycle')" [ngStyle]="{'background-color':'#82b2ff'}">
            <ion-icon size="large" name="bicycle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="startTraking('bus')" [ngStyle]="{'background-color':'#82b2ff'}">
            <ion-icon size="large" name="bus"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="startTraking('car')" [ngStyle]="{'background-color':'#82b2ff'}">
            <ion-icon size="large" name="car"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-card>
