<ion-header>
  <ion-toolbar color="playgo">
    <ion-buttons slot="end">
      <ion-button (click)="cancel()"> X </ion-button>
    </ion-buttons>
    <ion-title>
      <span>{{ 'registration.title' | translate }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="playgo">
  <form [formGroup]="registrationForm" (ngSubmit)="registrationSubmit()">
    <ion-grid class="ion-margin">
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" class="ion-text-center">
          <div class="avatar-container">
            <ion-avatar class="avatar">
              <img
                [src]="urlAvatar"
                title="{{'registration.avatar.title'|translate}}"
              />
              <ion-icon
                class="avatar-cange"
                name="camera-outline"
                (click)="changeAvatar()"
              ></ion-icon>
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
      <ion-item lines="full" color="playgo">
        <ion-label position="floating"
          >{{'registration.name'|translate}}</ion-label
        >
        <ion-input type="text" formControlName="name" clearInput></ion-input>
      </ion-item>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.name.errors?.required"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{'registration.form.nameRequired'|translate}}</span>
      </div>
      <ion-item lines="full" color="playgo">
        <ion-label position="floating"
          >{{'registration.lastname'|translate}}</ion-label
        >
        <ion-input
          type="text"
          formControlName="givenName"
          clearInput
        ></ion-input>
      </ion-item>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.givenName.errors?.required"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.lastnameRequired'|translate}}
      </div>
      <ion-item lines="full" color="playgo">
        <ion-label position="floating"
          >{{'registration.mail'|translate}}</ion-label
        >
        <ion-input type="text" formControlName="mail" clearInput></ion-input>
      </ion-item>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.mail.errors?.required"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.mailRequired'|translate}}
      </div>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.mail.errors?.pattern"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.mailPattern'|translate}}
      </div>
      <ion-item lines="full" color="playgo">
        <ion-label position="floating"
          >{{'registration.nickname'|translate}}</ion-label
        >
        <ion-input
          type="text"
          formControlName="nickname"
          clearInput
        ></ion-input>
      </ion-item>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.nickname.errors?.required"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.nicknameRequired'|translate}}
      </div>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.nickname.errors?.minlength"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.nicknameMinLength'|translate}}
      </div>
      <ion-item lines="full" color="playgo">
        <ion-label>{{'registration.lang.language'|translate}}</ion-label>
        <ion-select
          class="app-alert"
          placeholder="{{'registration.lang.select'|translate}}"
          formControlName="language"
        >
          <ion-select-option value="it"
            >{{'registration.lang.it'|translate}}</ion-select-option
          >
          <ion-select-option value="en"
            >{{'registration.lang.en'|translate}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.language.errors?.required"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.languageRequired'|translate}}
      </div>
      <ion-item lines="full" color="playgo">
        <ion-label
          >{{'registration.territories.territory'|translate}}</ion-label
        >
        <ion-select
          class="app-alert"
          placeholder="{{'registration.territories.select'|translate}}"
          formControlName="territoryId"
        >
          <ion-select-option
            *ngFor="let territory of territoryList"
            [value]="territory.territoryId"
          >
            {{territory.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.territoryId.errors?.required"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.territoryRequired'|translate}}
      </div>
      <ion-row class="ion-margin-top">
        <ion-col size="10">
          <ion-label class="territory-info"
            >{{'registration.infoTerritory'|translate}}</ion-label
          >
        </ion-col>
        <ion-col class="ion-text-center" (click)="openTerritoryPopup()">
          <ion-icon
            class="popup-icon"
            name="information-circle-outline"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size="10">
          <ion-label class="privacy-info"
            >{{'registration.privacyLink'|translate}}</ion-label
          >
        </ion-col>
        <ion-col class="ion-text-center" (click)="openPrivacyPopup()">
          <ion-icon
            class="popup-icon"
            name="information-circle-outline"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-item color="playgo">
            <ion-checkbox
              slot="start"
              color="playgo"
              formControlName="privacy"
            ></ion-checkbox>
            <ion-label>{{'registration.privacy'|translate}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <div
        class="error-message ion-padding"
        *ngIf="isSubmitted && errorControl.privacy.errors"
      >
        <ion-icon name="information-circle-outline"></ion-icon>
        {{'registration.form.privacyRequired'|translate}}
      </div>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block"
            >{{'registration.sumbmitButton'|translate}}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
