.avatar {
  background-color: white;
  margin: auto;
}
.avatar-container {
  margin-bottom: 33px;
}
ion-item {
  --highlight-background: white;
}

ion-item.ion-invalid.ion-dirty.ion-touched {
  --highlight-background: red;
}
.avatar-cange {
  background-color: var(--ion-color-primary);
  border-radius: 16px;
  padding: 8px;
  position: absolute;
  bottom: 15%;
  left: 50%;
}
.territory-info {
  font-style: italic;
  font-size: 14px;
}
.privacy-info {
  text-decoration: underline;
}
.popup-icon {
  font-size: 30px;
}
ion-checkbox {
  --background: var(--ion-color-playgo);
  --border-color: white;
  --border-color-checked: white;
}
