<ion-row button (click)="openDetail()" detail>
  <ion-col size="4">
    <div class="ion-text-start" style="font-size: 24px">
      <app-icon
        *ngIf="trip.modeType"
        [name]="getTransportTypeIcon(trip.modeType)"
      ></app-icon>
      <span>
        {{ getTransportTypeLabel(trip.modeType) | translate }}
      </span>
    </div>
  </ion-col>
  <ion-col class="ion-text-end">
    <span *ngIf="!multiModalTrip">
      <span>
        {{ trip.startTime | localDate: noMonthOrYearFormat }}
      </span>
    </span>
  </ion-col>
</ion-row>
<ion-row button (click)="openDetail()" detail>
  <ion-col class="ion-text-start">
    {{ trip.distance / 1000 | localNumber: "0.0-1" }}
    {{ "km" | translate }} - {{ durationLabel }}
  </ion-col>
  <ion-col class="ion-text-end">
    <ion-text color="success" *ngIf="trip.status === Validity.VALID">{{
      validCampaignsLabel
    }}</ion-text>
    <ion-text color="danger" *ngIf="trip.status === Validity.INVALID">{{
      "trip_detail.status.invalid" | translate
    }}</ion-text>
    <ion-text color="warning" *ngIf="trip.status === Validity.PENDING">{{
      "trip_detail.status.pending" | translate
    }}</ion-text>
    <ion-text color="warning" *ngIf="trip.status === 'NOT_SYNCHRONIZED'">{{
      "trip_detail.status.not_synchronized" | translate
    }}</ion-text>
    <ion-text color="warning" *ngIf="trip.status === 'ONGOING'">{{
      "trip_detail.status.not_finished" | translate
    }}</ion-text>
  </ion-col>
</ion-row>
