<app-header title="{{ 'report.stats.title' | translate }}"></app-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <span>{{ 'report.stats.period' | translate }} {{periodSelected}}</span>
        <ion-button (click)="dialogChangePeriod()">{{ 'report.stats.changePeriodButton' | translate }}
        </ion-button>
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height: 20vh; width: 40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>