<ion-header
  parallax
  [imageUrl]="campaignContainer?.campaign?.banner?.url"
  height="30vh"
>
  <ion-toolbar [color]="campaignContainer?.campaign?.type">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span>{{ titlePage }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  [fullscreen]="true"
  *ngIf="campaignContainer"
  [scrollEvents]="true"
>
  <ion-avatar
    class="avatar-campaign"
    [ngStyle]="{'border': '3px solid var(--ion-color-'+campaignContainer?.campaign?.type+')'}"
  >
    <img [src]="imagePath" title="campaign logo" />
  </ion-avatar>
  <app-widget-campaign
    [campaign]="campaignContainer"
    [header]="false"
  ></app-widget-campaign>
  <ng-container *ngFor="let notification of unreadNotifications">
    <app-campaign-notification [notification]="notification">
    </app-campaign-notification>
  </ng-container>
  <ion-card
    *ngIf="campaignHas('blacklist')"
    [routerLink]="['/pages/blacklist/'+campaignContainer.campaign.campaignId]"
  >
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.blacklist'|translate}} </ion-label>
      <app-icon name="blacklist" class="icon-size-normal"></app-icon>
    </ion-item>
  </ion-card>
  <ion-card
    *ngIf="campaignHas('challenge')"
    [routerLink]="['/pages/tabs/challenges']"
  >
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.challenges'|translate}} </ion-label>
      <app-icon name="default" class="icon-size-normal"></app-icon>
    </ion-item>
  </ion-card>
  <ion-card
    *ngIf="campaignHas('stats')"
    [routerLink]="['/pages/tabs/home/details/'+campaignContainer.campaign.campaignId+'/stats']"
  >
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.stats'|translate}} </ion-label>
      <app-icon name="stat" class="icon-size-normal"></app-icon>
    </ion-item>
  </ion-card>
  <ion-card
    *ngIf="campaignHas('badges')"
    [routerLink]="['/pages/tabs/home/details/'+campaignContainer.campaign.campaignId+'/badges']"
  >
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.badges'|translate}} </ion-label>
      <app-icon name="badges" class="icon-size-normal"></app-icon>
    </ion-item>
  </ion-card>
  <ion-card
    *ngIf="campaignHas('leaderboard')"
    [routerLink]="getLeaderboardLink()"
  >
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.leaderboard'|translate}} </ion-label>
      <app-icon name="leaderboard" class="icon-size-normal"></app-icon>
    </ion-item>
  </ion-card>
  <ion-card [routerLink]="['/pages/tabs/trips']">
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.journeys'|translate}} </ion-label>
      <app-icon name="list" class="icon-size-normal"></app-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-title>
      <ion-item [color]="campaignContainer?.campaign?.type"
        >{{'campaigns.detail.details'|translate}}
      </ion-item>
    </ion-card-title>
    <ion-card-content>
      <ion-item lines="none"
        ><ion-label
          >{{'campaigns.detail.dateFrom'|translate}}<span class="text-bold"
            >{{campaignContainer.campaign.dateFrom|localDate}}</span
          ></ion-label
        ></ion-item
      >
      <ion-item lines="none"
        ><ion-label
          >{{'campaigns.detail.dateTo'|translate}}<span class="text-bold"
            >{{campaignContainer.campaign.dateTo |localDate}}</span
          ></ion-label
        ></ion-item
      >
      <div
        *ngIf="(campaignContainer.campaign.details | languageMap) as details"
      >
        <div *ngFor="let detail of details" (click)="openDetail(detail)">
          <ion-item lines="none">
            <ion-label
              ><span class="text-bold text-underlined">
                {{detail.name}}</span
              ></ion-label
            >
            <ion-icon name="information-circle-outline" end> </ion-icon>
          </ion-item>
        </div>
      </div>
      <div>
        <p class="text-bold">{{'campaigns.detail.description'|translate}}</p>
        <div
          [innerHTML]="campaignContainer.campaign.description | languageMap"
        ></div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="unsubscribeCampaign()" *ngIf="!isPersonal()">
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.unsubscribe'|translate}} </ion-label>
      <app-icon name="leave" class="icon-size-normal"></app-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.signal'|translate}} </ion-label>
      <ion-icon name="help-circle-outline" end></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
