<ion-header>
  <ion-toolbar color="playgo">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="playgo" class="ion-paddings">
  <ion-item color="playgo">
    <ion-label>{{
      "tracking.car.manual_code_input_label" | translate
      }}</ion-label>
    <!-- FIXME: there is some bug with ion-input and type=number https://github.com/ionic-team/ionic-framework/issues/24753 -->
    <!-- type="number" -->
    <ion-input lines="full" placeholder="{{ 'tracking.car.manual_code_input_example' | translate }}"
      [(ngModel)]="manualId"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="playgo" (click)="manualIdEnter()" size="large" [disabled]="!isManualIdValid()">
          {{ "tracking.car.manual_code_input_confirm" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        {{ "tracking.car.or" | translate }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="startScan()" color="light" size="large">{{ "tracking.car.scan" | translate }}
          <ion-icon name="qr-code"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>