<ion-item
  *ngIf="placing"
  [class.my-placing]="(playerId$ | async) === placing.playerId"
  [ngStyle]="{
    border: first
      ? '3px solid var(--ion-color-' + campaign?.campaign?.type + ')'
      : ''
  }"
  [routerLink]="
    (playerId$ | async) !== placing.playerId
      ? ['/pages/user-profile/' + placing.playerId + '/' + placing.nickname]
      : []
  "
  detail="false"
>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <app-ordinal-number [value]="placing.position"></app-ordinal-number>
      </ion-col>
      <ng-container *ngIf="(playerId$ | async) === placing.playerId">
        <ion-col size="2">
          <ion-avatar>
            <img [src]="playerAvatarUrl$ | async" />
          </ion-avatar>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="(playerId$ | async) !== placing.playerId">
        <ion-col size="2">
          <ion-avatar *ngIf="placing.avatar">
            <img [src]="placing.avatar.url" />
          </ion-avatar>
        </ion-col>
      </ng-container>
      <ion-col size="3" class="ion-text-start">
        <span>{{ placing.nickname }}</span>
      </ion-col>
      <ion-col size="5" class="ion-text-end">
        {{
          unitLabelKey
            | translate: { value: getValue(placing.value) | localNumber }
        }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
