.background {
  background-image: url("../../../assets/images/login/background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  .title-login {
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 700;
  }
  .subtitle-login {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
  }
  .playgoicon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
  }
  .fbkicon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
  }
  .google-button {
    --background: #de5246;
  }

  .apple-button {
    --background: black;
  }
  .facebook-button {
    --background: #3b5998;
  }
}
