ion-card-title {
  font-size: small;
}
.text-proposed {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.popup-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
}
.header {
  padding: 2px;
  text-align: right;
  font-style: italic;
}
