<ion-grid>
  <ion-row *ngFor="let campaign of myCampaigns">
    <ion-col>
      <app-widget-campaign
        [campaign]="campaign"
        [header]="true"
      ></app-widget-campaign>
    </ion-col>
  </ion-row>
  <ng-container *ngIf="myCampaigns?.length <= 1">
    <ion-button
      class="discover-button"
      expand="block"
      color="playgo"
      (click)="discover()"
    >
      <ion-icon slot="start" name="search"></ion-icon>
      {{ "discovercampaignbutton" | translate }}
    </ion-button>
  </ng-container>
</ion-grid>
