<ion-header></ion-header>

<ion-content>
  <app-wizard
    *ngIf="campaign$ | async as campaign"
    [headerColor]="getCampaignColor(campaign)"
    [title]="campaign.name | languageMap"
  >
    <app-wizard-step title="challenges.create.choose_type">
      step 1
    </app-wizard-step>
    <app-wizard-step title="challenges.create.choose_metric">
      step 2
    </app-wizard-step>
    <app-wizard-step title="challenges.create.choose_partner">
      step 3
    </app-wizard-step>
    <app-wizard-step title="challenges.create.activate">
      step 4
    </app-wizard-step>
  </app-wizard>
</ion-content>
