<ng-container [ngSwitch]="campaign.campaign.type">
  <ng-container *ngSwitchCase="'personal'">
    <app-home-campaign-personal
      [header]="header"
      [campaignContainer]="campaign"
      (click)="detailCampaign(campaign)"
    >
    </app-home-campaign-personal>
  </ng-container>
  <ng-container *ngSwitchCase="'city'">
    <app-home-campaign-city
      [header]="header"
      [campaignContainer]="campaign"
      (click)="detailCampaign(campaign)"
    >
    </app-home-campaign-city>
  </ng-container>
  <ng-container *ngSwitchCase="'company'">
    <app-home-campaign-company
      [header]="header"
      [campaignContainer]="campaign"
      (click)="detailCampaign(campaign)"
    >
    </app-home-campaign-company>
  </ng-container>
  <ng-container *ngSwitchCase="'school'">
    <app-home-campaign-school
      [header]="header"
      [campaignContainer]="campaign"
      (click)="detailCampaign(campaign)"
    >
    </app-home-campaign-school>
  </ng-container>
  <ng-container *ngSwitchDefault> default </ng-container>
</ng-container>
