<ion-header appHeader></ion-header>
<ion-content appContent>
  <ng-container *ngIf="leaderboard$ | async as leaderboard">
    <ion-item *ngFor="let placing of leaderboard; trackBy: placingTracking">
      <ion-label>
        <app-ordinal-number [value]="placing.position"></app-ordinal-number>
      </ion-label>
      {{placing.customData.institute}} | {{placing.customData.school}} |
      {{placing.customData.cls}} | {{
      'campaigns.leaderboard.leaderboard_type_unit.GL' | translate: { value:
      placing.score | localNumber: '.0' } }}
    </ion-item>
  </ng-container>
</ion-content>
