<ion-header appHeader></ion-header>
<ion-content appContent>
  <ng-container *ngIf="(campaign$ |async) !== null && myTeam!==null">
    <div class="header-margin">
      <div class="header-sticky" [style.color]="'var(--ion-color-'+campaignContainer.campaign.type+'-stat-contrast)'"
        [style.backgroundColor]="'var(--ion-color-'+campaignContainer.campaign.type+')'">
        <ion-row>
          <!-- <ion-col>
            <ion-item [color]="campaignContainer?.campaign?.type" class="header-radius">
              <ion-select interface="popover" [disabled]="(useMeanAndMetric$ |async)===false"
                [interfaceOptions]="{ cssClass: 'app-alert' }"
                (ionChange)="selectedMeanChangedSubject.next($any($event))" [value]="selectedMean$ | async">
                <ion-select-option *ngFor="let mean of means$|async" [value]="mean">
                  {{meanLabels[mean] |translate}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col> -->
          <ion-col>
            <ion-item lines="full" [color]="campaignContainer?.campaign?.type">
              {{'campaigns.leaderboard.all_means' |translate}}
            </ion-item>
          </ion-col>
          <!-- <ion-col *ngIf="useMeanAndMetric$ |async">
            <ion-item [color]="campaignContainer?.campaign?.type" class="header-radius">
              <ion-select interface="popover" [interfaceOptions]="{ cssClass: 'app-alert' }"
                (ionChange)="selectedMetricChangedSubject.next($any($event))" [value]="selectedMetric$ | async">
                <ion-select-option *ngFor="let metric of metrics" [value]="metric">
                  {{metricToUnitLabel[metric] |translate}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col> -->
          <ion-col *ngIf="(useMeanAndMetric$ |async) === false" class="flex-end">
            <ion-item lines="full" [color]="campaignContainer?.campaign?.type" class="ion-text-end">
              <span>{{'campaigns.leaderboard.leaderboard_type.GL' |translate}}</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="(useMeanAndMetric$ |async) === false">
          <ion-col>
            <ion-item [color]="campaignContainer?.campaign?.type">
              {{'campaigns.leaderboard.leaderboard_type.GL' |translate}}
            </ion-item>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col>
            <ion-item [color]="campaignContainer?.campaign?.type" class="">
              <ion-select interface="popover" [interfaceOptions]="{ cssClass: 'app-alert' }"
                (ionChange)="periodChangedSubject.next($any($event))" [value]="selectedPeriod$ | async">
                <ion-select-option *ngFor="let period of periods" [value]="period">
                  {{period.labelKey |translate}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <app-school-placing-detail [myTeam]="myTeam" [placing]="teamPosition$ | async"
          [unitLabelKey]="numberWithUnitKey$ | async" [mine]="true" [campaign]="campaignContainer"
          *ngIf="(leaderboardScrollResponse$ | async)?.totalElements>0">
        </app-school-placing-detail>
      </div>
      <ng-container
        *ngIf="(leaderboardScrollResponse$ | async)?.totalElements>0 && (filterOptions$ |async) as filterOptions; else emptyLead">
        <app-infinite-scroll [resetItems]="resetItems$ | async" [response]="leaderboardScrollResponse$ | async"
          (request)="scrollRequestSubject.next($event)">
          <ng-template appInfiniteScrollContent let-placing="item">
            <app-school-placing-detail [placing]="placing" [unitLabelKey]="numberWithUnitKey$ | async" [mine]="false"
              [campaign]="campaignContainer" [myTeam]="myTeam"></app-school-placing-detail>
          </ng-template>
        </app-infinite-scroll>
      </ng-container>
      <ng-template #emptyLead>
        <ion-col>
          <div class="empty-lead">{{ "campaigns.leaderboard.empty" | translate }}</div>
        </ion-col>
      </ng-template>
    </div>
  </ng-container>
</ion-content>