<ng-container *ngFor="let eachTransportTypeOption of transportTypeOptions">
  <ion-button
    (click)="
      tripService.changeTransportType(eachTransportTypeOption.transportType)
    "
    [size]="size"
    [color]="
      (tripService.activeTransportType$ | async) ===
      eachTransportTypeOption.transportType
        ? 'secondary'
        : 'primary'
    "
  >
    <ion-icon slot="icon-only" [name]="eachTransportTypeOption.icon"></ion-icon>
  </ion-button>
</ng-container>
<ion-button
  (click)="tripService.stop()"
  color="danger"
  [disabled]="(tripService.isInTrip$ | async) === false"
  [size]="size"
>
  <ion-icon slot="icon-only" name="stop"></ion-icon>
</ion-button>
