<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  class="tracking-button"
  [activated]="fabListActive"
  (click)="toggleFabList()"
>
  <ion-fab-button color="start" close-icon="chevron-down">
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button
      color="playgo"
      *ngFor="let eachTransportTypeOption of transportTypeOptions$ | async"
      [disabled]="
        (tripService.operationInProgress$ | async) ||
        (tripService.activeTransportType$ | async) ===
          eachTransportTypeOption.transportType
      "
      [color]="
        (tripService.activeTransportType$ | async) ===
        eachTransportTypeOption.transportType
          ? 'secondary'
          : 'playgo'
      "
      (click)="
        changeTransportType($event, eachTransportTypeOption.transportType)
      "
    >
      <app-icon [name]="eachTransportTypeOption.icon"></app-icon>
    </ion-fab-button>
    <ion-fab-button
      (click)="tripService.stop()"
      color="danger"
      [disabled]="tripService.operationInProgress$ | async"
      *ngIf="(tripService.isInTrip$ | async) === true"
    >
      <ion-icon name="stop"> </ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
