.header {
  text-align: end;
  padding: 2px;
  font-style: italic;
}
.content {
  padding: 2px 8px;
  display: flex;
  align-items: center;
  span {
    font-size: 17px;
    width: 100%;
    text-align: center;
  }
}
