<ion-card>
  <ion-card-header [color]="campaign.campaign.type" class="header">
    <span> {{ "challenges.create.configure" | translate }} </span>
  </ion-card-header>
  <ion-card-content class="content">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <app-icon name="groupCompetitivePerformance" class="icon-size-medium"></app-icon>
        </ion-col>
        <ion-col class="flex-center">
          <span>{{
            "challenges.create.button_create" | translate }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>