<ion-content>
  <div class="login-wrapper">
    <!-- Header: Logo & Titoli -->
    <div class="header-section">
      <img class="logo-playgo" src="assets/images/login/logo.svg" alt="Play&Go" />
      <h1 class="title">{{ 'login.title' | translate | uppercase }}</h1>
      <p class="subtitle">{{ 'login.subtitle' | translate }}</p>
    </div>

    <!-- Actions: Pulsanti di Login -->
    <div class="actions-section">
      <ion-button class="btn-google" expand="block" (click)="signIn('google')">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        <span>{{ 'login.loginGoogleButton' | translate | uppercase }}</span>
      </ion-button>

      <ion-button class="btn-apple" expand="block" (click)="signIn('apple')">
        <ion-icon slot="start" name="logo-apple"></ion-icon>
        <span>{{ 'login.loginAppleButton' | translate | uppercase }}</span>
      </ion-button>

      <ion-button class="btn-internal" expand="block" (click)="signIn()">
        <span>{{ 'login.loginInternalButton' | translate | uppercase }}</span>
      </ion-button>
    </div>

    <!-- Footer: Logo FBK -->
    <div class="footer-section">
      <img class="logo-fbk" src="assets/images/login/fbk.svg" alt="FBK" />
    </div>
  </div>
</ion-content>