<!-- <app-header [title]="titlePage" [color]="colorCampaign" [defaultHref]="'/pages/tabs/campaigns'"></app-header> -->
<!-- <ion-header parallax [imageUrl]="campaign.banner.url" height="30vh">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Parallax Header </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header parallax [imageUrl]="campaign?.banner?.url" height="30vh" [color]="colorCampaign">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/pages/tabs/campaigns'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <span>{{ titlePage }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="campaign" [scrollEvents]="true">
  <ion-avatar class="avatar-campaign">
    <img [src]="imagePath" title="campaign logo" />
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      {{'campaigns.detail.generalStat'|translate}}
    </ion-card-header>
    <ion-card-content>
      <!-- <app-main-campaign-stat [campaign]="campaign" [type]="campaign.type">
      </app-main-campaign-stat> -->
    </ion-card-content>
  </ion-card>
  <ion-card [routerLink]="['/pages/tabs/campaigns/leaderboard/'+campaign.campaignId]">
    <ion-item>
      <ion-label>{{'campaigns.detail.leaderboard'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="campaignHasPrizes()">
    <ion-item>
      <ion-label>{{'campaigns.detail.prizes'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label> {{'campaigns.detail.journeys'|translate}} </ion-label>
      <ion-icon name=" arrow-forward" end> </ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>{{'campaigns.detail.challenges'|translate}} </ion-label>
    </ion-item>
    <ion-card-content> Sfideeeee </ion-card-content>
  </ion-card>
  <ion-card *ngIf="campaign.description">
    <ion-card-title>
      {{'campaigns.detail.description'|translate}}
    </ion-card-title>
    <ion-card-content>
      <div [innerHTML]="campaign.description"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>{{'campaigns.detail.signal'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card (click)="unsubscribeCampaign()" *ngIf="!isPersonal()">
    <ion-item>
      <ion-label>{{'campaigns.detail.unsubscribe'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>