<ion-header
  parallax
  [imageUrl]="campaignContainer.campaign?.banner?.url"
  height="30vh"
>
  <ion-toolbar [color]="campaignContainer?.campaign?.type">
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span>{{ titlePage }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  [fullscreen]="true"
  *ngIf="campaignContainer"
  [scrollEvents]="true"
>
  <ion-avatar class="avatar-campaign">
    <img [src]="imagePath" title="campaign logo" />
  </ion-avatar>
  <app-widget-campaign
    [campaign]="campaignContainer"
    [header]="false"
  ></app-widget-campaign>
  <!-- <app-main-campaign-stat [campaignContainer]="campaignContainer" [status]="campaignStatus"
        [reportWeekStat]="reportWeekStat" [reportTotalStat]="reportTotalStat" [what]="'points'"> -->
  <!-- </app-main-campaign-stat> -->
  <ion-card
    [routerLink]="['/pages/tabs/campaigns/leaderboard/'+campaignContainer.campaign.campaignId]"
  >
    <ion-item>
      <ion-label>{{'campaigns.detail.leaderboard'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card
    [routerLink]="['/pages/stats/'+campaignContainer.campaign.campaignId]"
  >
    <ion-item>
      <ion-label>{{'campaigns.detail.stats'|translate}} </ion-label>
      <ion-icon name="stats-chart-outline" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="campaignHasPrizes()">
    <ion-item>
      <ion-label>{{'campaigns.detail.prizes'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label> {{'campaigns.detail.journeys'|translate}} </ion-label>
      <ion-icon name=" arrow-forward" end> </ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>{{'campaigns.detail.challenges'|translate}} </ion-label>
    </ion-item>
    <ion-card-content> Sfideeeee </ion-card-content>
  </ion-card>
  <ion-card *ngIf="campaignContainer.campaign.description">
    <ion-card-title>
      {{'campaigns.detail.description'|translate}}
    </ion-card-title>
    <ion-card-content>
      <div [innerHTML]="campaignContainer.campaign.description"></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>{{'campaigns.detail.signal'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card (click)="unsubscribeCampaign()" *ngIf="!isPersonal()">
    <ion-item>
      <ion-label>{{'campaigns.detail.unsubscribe'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
