<ion-header
  parallax
  [imageUrl]="campaignContainer?.campaign?.banner?.url"
  height="30vh"
>
  <ion-toolbar [color]="campaignContainer?.campaign?.type">
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref="'/pages/tabs/home'">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span>{{ titlePage }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  [fullscreen]="true"
  *ngIf="campaignContainer"
  [scrollEvents]="true"
>
  <ion-avatar class="avatar-campaign">
    <img [src]="imagePath" title="campaign logo" />
  </ion-avatar>
  <app-widget-campaign
    [campaign]="campaignContainer"
    [header]="false"
  ></app-widget-campaign>
  <ion-card
    *ngIf="campaignHas('leaderboard')"
    [routerLink]="['/pages/tabs/campaigns/leaderboard/'+campaignContainer.campaign.campaignId]"
  >
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.leaderboard'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card
    [routerLink]="['/pages/stats/'+campaignContainer.campaign.campaignId]"
  >
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.stats'|translate}} </ion-label>
      <ion-icon name="stats-chart-outline" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="campaignHas('prizes')">
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.prizes'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label> {{'campaigns.detail.journeys'|translate}} </ion-label>
      <ion-icon name=" arrow-forward" end> </ion-icon>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="campaignHas('challenge')">
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.challenges'|translate}} </ion-label>
    </ion-item>
    <ion-card-content> Sfideeeee </ion-card-content>
  </ion-card>
  <ion-card *ngIf="campaignContainer.campaign.description?.[language]">
    <ion-card-title>
      <ion-item [color]="campaignContainer?.campaign?.type"
        >{{'campaigns.detail.description'|translate}}
      </ion-item>
    </ion-card-title>
    <ion-card-content>
      <div [innerHTML]="campaignContainer.campaign.description[language]"></div>
    </ion-card-content>
  </ion-card>
  <div
    *ngIf="campaignContainer.campaign.details?.[language];then detailTag"
  ></div>
  <ng-template #detailTag>
    <ion-card
      *ngFor="let detail of campaignContainer.campaign.details?.[language]"
      (click)="openDetail(detail)"
    >
      <ion-item [color]="campaignContainer?.campaign?.type"
        ><ion-label>{{detail.name}}</ion-label>
        <ion-icon name="arrow-forward" end> </ion-icon>
      </ion-item>
    </ion-card>
  </ng-template>
  <ion-card>
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.signal'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card (click)="unsubscribeCampaign()" *ngIf="!isPersonal()">
    <ion-item [color]="campaignContainer?.campaign?.type">
      <ion-label>{{'campaigns.detail.unsubscribe'|translate}} </ion-label>
      <ion-icon name="arrow-forward" end></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
