ion-card {
  ion-row {
    align-items: center !important;
  }
  box-shadow: none !important;
  border-radius: 8px;
  .header {
    text-align: end;
    padding: 2px;
    font-style: italic;
  }
  .short-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 2px;
  }
  ion-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .all-challenges {
    width: fit-content;
    margin-left: auto;
    span {
      font-style: italic;
    }
  }
}
