<ion-tabs>
  <app-tracking-quick-control></app-tracking-quick-control>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>{{'home_title'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="campaigns">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>{{'campaigns_title'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="square"></ion-icon>
      <ion-label>{{'profile_title'|translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
