<ion-content [fullscreen]="true">
  <ion-segment
    mode="md"
    class="app-segment"
    [(ngModel)]="selectedSegment"
    scrollable
  >
    <ion-segment-button
      value="pastChallenges"
      checked
      class="app-segment-button"
    >
      <ion-label>{{'challenges.past' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="activeChallenges"
      checked
      class="app-segment-button"
    >
      <ion-label>{{'challenges.present' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="futureChallenges" class="app-segment-button">
      <ion-label>{{'challenges.future' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment==='pastChallenges'">
    To be designed
    <!-- <app-challenge-card
      *ngFor="let challenge of (pastChallenges$ | async); trackBy challengeTracking;"
      [challenge]="challenge"
    >
    </app-challenge-card> -->
  </div>
  <div *ngIf="selectedSegment==='activeChallenges'">
    <div *ngFor="let campaign of campaignsWithChallenges">
      <app-challenge-card
        *ngFor="let challenge of activeChallenges; trackBy challengeTracking;"
        [challenge]="challenge"
      >
      </app-challenge-card>
    </div>
  </div>
  <div *ngIf="selectedSegment==='futureChallenges'">
    <!-- <app-challenge-card
      *ngFor="let challenge of (futureChallenges$ | async); trackBy challengeTracking;"
      [challenge]="challenge"
    >
    </app-challenge-card> -->
  </div>
</ion-content>
