<ion-header appHeader></ion-header>
<ion-content appContent [fullscreen]="true">
  <ion-segment
    mode="md"
    class="app-segment"
    [(ngModel)]="selectedSegment"
    scrollable
  >
    <ion-segment-button
      value="pastChallenges"
      checked
      class="app-segment-button"
    >
      <ion-label>{{'challenges.past' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="activeChallenges"
      checked
      class="app-segment-button"
    >
      <ion-label>{{'challenges.present' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="futureChallenges" class="app-segment-button">
      <ion-label>{{'challenges.future' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment==='pastChallenges'">
    <app-challenges-stat> </app-challenges-stat>
  </div>
  <div *ngIf="selectedSegment==='activeChallenges'">
    <ng-container *ngIf="thereAreChallengeActive; else noChallengeActive">
      <div *ngFor="let campaign of campaignsWithChallenges">
        <div
          *ngIf=" activeChallenges[campaign?.campaign?.campaignId]?.length>0"
        >
          <app-challenge-container
            #active
            [campaign]="campaign"
            [challenges]="activeChallenges[campaign?.campaign?.campaignId]"
            [type]="'active'"
          >
          </app-challenge-container>
        </div>
      </div>
    </ng-container>

    <ng-template #noChallengeActive>
      <div class="empty-challenge">{{ "challenges.empty" | translate }}</div>
    </ng-template>
  </div>
  <div *ngIf="selectedSegment==='futureChallenges'">
    <ng-container
      *ngIf="thereAreChallengeFuture || userCanInvite; else noChallengeFuture"
    >
      <div *ngFor="let campaign of campaignsWithChallenges">
        <div
          *ngIf=" futureChallenges[campaign?.campaign?.campaignId]?.length>0 || canInvite[campaign?.campaign?.campaignId]"
        >
          <app-challenge-container
            #futuri
            [campaign]="campaign"
            [challenges]="futureChallenges[campaign?.campaign?.campaignId]"
            [type]="'future'"
            [canInvite]="canInvite[campaign?.campaign?.campaignId]"
          >
          </app-challenge-container>
        </div>
      </div>
    </ng-container>

    <ng-template #noChallengeFuture>
      <div class="empty-challenge">{{ "challenges.empty" | translate }}</div>
    </ng-template>
  </div>
</ion-content>
