.first-row {
  background-color: #f0f0f0;
  padding-top: 8px;

  .first-row-text {
    font-style: italic;
    font-size: 13px;
    line-height: 15px;
  }
}
.second-row {
  padding: 8px;
  .second-row-text {
    font-size: 14px;
    line-height: 16px;
    color: #01579b;
  }
}
