.limit-title {
  font-weight: bold;
  margin: 8px;
}
.limit-sub {
  font-weight: bold;
  margin: 8px 0px 0px 0px;
}
.limit-text {
  margin: 8px;
}
ion-footer {
  background: var(--ion-color-playgo);
}
