<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> {{ 'home' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">Sign Out </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="refreshToken()">refresh </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh()" #refresher>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="container">
    <app-profile-component
      [editable]="false"
      [showStatus]="true"
    ></app-profile-component>
    <app-tracking-main-control></app-tracking-main-control>
    <app-my-campaigns-widget></app-my-campaigns-widget>
    <div>
      {{ appVersionService.version$ | async }} | {{
      appVersionService.codePushLabel$ | async }}
    </div>
  </div>
</ion-content>
