<ion-header appHeader></ion-header>
<ion-content appContent class="page" color="light">
  <div id="container">
    <ion-card class="profile-main">
      <ion-card-content color="playgo">
        <app-profile-component [editable]="false"></app-profile-component>
      </ion-card-content>
    </ion-card>
    <app-my-campaigns-widget></app-my-campaigns-widget>
    <div>
      {{ appStatusService.version$ | async }} | {{
      appStatusService.codePushLabel$ | async }}
    </div>
  </div>
</ion-content>
