<ion-card [ngClass]="{'home-card-widget': header}">
  <app-notification-badge *ngIf="header" [type]="'campaign'" [campaignContainer]="campaignContainer">
  </app-notification-badge>
  <ion-card-header color="school">
    <ion-avatar>
      <img [src]="imagePath" alt="Avatar" />
    </ion-avatar>
    <div lines="none" color="school" *ngIf="header; else detailHeader">

      <span> {{ campaignContainer.campaign.name | languageMap }}</span>
    </div>
    <ng-template #detailHeader>
      <div>
        <span> {{'campaigns.detail.generalStat'|translate}}</span>
      </div>
    </ng-template>
  </ion-card-header>
  <ion-card-content class="school-content ion-no-padding">
    <app-home-school-profile [campaignContainer]="campaignContainer"></app-home-school-profile>
    <app-main-campaign-stat [campaignContainer]="campaignContainer" [status]="campaignStatus"
      [reportWeekStat]="reportWeekStat" [reportTotalStat]="reportTotalStat" [unit]="'eL'">
    </app-main-campaign-stat>
    <app-home-school-progression [stat]="progressionTeam" [type]="'team'"></app-home-school-progression>
    <app-home-school-progression [stat]="progressionPlayer" [type]="'personal'"></app-home-school-progression>
    <app-home-campaign-challenges *ngIf="header" [campaignContainer]="campaignContainer">
    </app-home-campaign-challenges>
  </ion-card-content>
</ion-card>