<ion-card>
  <ion-card-header color="school">
    <ion-item lines="none" color="school">
      <ion-avatar>
        <img [src]="imagePath" alt="Avatar" />
      </ion-avatar>
      <strong> {{ campaignContainer.campaign.name }}</strong>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <app-main-campaign-stat
      [campaignContainer]="campaignContainer"
      [status]="campaignStatus"
      [reportWeekStat]="reportWeekStat"
      [reportTotalStat]="reportTotalStat"
      [what]="'shield'"
    ></app-main-campaign-stat>
  </ion-card-content>
</ion-card>
